[2016-05-17 23:04] ahdinosaur commented on #2
this is great, thanks @fosterlynn

[2016-05-18 19:09] fosterlynn commented on #2
I did another round of looking.

I'm not sure you want to create a new Agent (purchase group) for each order.  The people would just naturally fall into relationships around the order when they express their requests for that order.  And I believe the Coop is the agent that makes the order, if I am reading correctly.  That is, the purchase group doesn't have that much agency.  I do read that a per

[2016-05-27 04:16] ahdinosaur commented on #7
[world co-op monitor](http://monitor.coop/)

[2016-05-27 04:28] ahdinosaur commented on #7
- [consumer co-ops worldwide](http://www.ccw.coop/en/)
  - [members](http://www.ccw.coop/en/members/members-list)
  - [reports](http://www.ccw.coop/en/publications/reports-memos)
  - [latest 2013 report](http://www.ccw.coop/images/stories/reports/4th_Edition_Euro_Coop_Climate_Change_Report.pdf), talks a lot about consumer co-ops as a means to reduce waste. :sparkles:
- [survey of co-op capital](ht

[2016-05-27 04:30] ahdinosaur commented on #6
[how the co-op i used to live in does their food system](https://www.bsc.coop/index.php/food/how-the-co-op-food-system-works)

[2016-07-08 05:13] ahdinosaur commented on #4
stale as

[2017-02-23 07:11] ahdinosaur commented on #2
hey @fosterlynn @bhaugen, just a heads up, i'm starting [development of Cobuy](https://github.com/enspiral-root-systems/cobuy) using [`catstack`](https://github.com/enspiral-root-systems/catstack).

the first release will be the second and third screens on the first image: basically enough to demo how many people can input their preferences on a bulk order and see the result.

![cobuyflow-repeatus

[2017-02-23 07:26] ahdinosaur commented on #2
some notes on initial data model:

[code]

where `(...)` means optional and `[...]` means many.

/cc @mischa-saunders @bill-burgess

[2017-02-23 17:13] fosterlynn commented on #2
@ahdinosaur great!!  Looking forward to your demo...

Your initial data model is a bit confusing to me, but that's ok.  :)  I'd love to map it to VF with you whenever you want!  Or just walk through it together if that would be helpful to you.

Will be very interesting to see how this plays out in Scuttlebutt!  I think it is important to have VF support more than RDF-style data.

[2017-02-27 13:19] danalexilewis opened #1 "Landing/Enter Cobuy "chat""
When I go to app.cobuy.nz, I want to enter my username/login, so that i can enter the app with an identity.

[2017-02-27 13:21] danalexilewis opened #2 "Sign up for email news"
When going to  app.cobuy.nz, I want to be asked for my email and whether i want to sign up for email updates,
So that I can be informed of cobuy developments

[2017-02-27 13:23] danalexilewis opened #3 "View 3 current orders"
When I have entered the app, I want to see a list of three current orders, so that i can see that i can participate in multiple orderz

[2017-02-27 18:11] danalexilewis opened #4 "order items are sorted by most purchased"
When viewing an order, I want to see a list of items to order ordered by most purchased , so that I can see what other buyers have committed to.

[2017-02-27 18:11] danalexilewis opened #5 "View others order activity"
When viewing an order, I want to see a realtime indication of others order activities - numbers going up and maybe a glow effect on the item, So that I can can see others are doing in real time.

[2017-02-27 18:12] danalexilewis opened #6 "Modify item quantities in realtime v1"
When viewing an item, I want to modify my order intent and see an immediate predictor of how many items i will recieve.

[2017-02-27 18:12] danalexilewis opened #7 "See others item updates and effect in real-time"
When viewing an item in an order, I want my predicted purchase quantity to update in real-time, So that I can adjust my own in response.

[2017-02-27 18:14] danalexilewis opened #8 "Event: Notify user when order is about to close"
When an order closes, I want be notified of it on the screen, so that I can understand that cobuy will be helping me manage my commitments

[2017-02-27 18:14] danalexilewis opened #9 "Event: Notify user when order closed"
When an order closes, I want to recieve an onscreen notification, so that I know that my order has been placed.

[2017-02-27 18:14] danalexilewis opened #10 "Event: Auto close an order every day"
When using the simulator, I want to see an order close each day so that I can expierience recieving notifications (in app)

[2017-02-27 18:15] danalexilewis opened #11 "Order Summary"
When an order closes I want to be notified with a link to the order summary, so that i can see my final commitments

[2017-02-27 18:16] danalexilewis opened #12 "View: My finished orders"
When viewing a list of orders that i have committed to, I want to know which I owe money on and when it is due, so that i can see cobuy will help with payment management

[2017-02-27 18:16] danalexilewis opened #13 "Pay for my order"
When viewing an order summary of my commitment, I want to be able to click a "Pay now" button and be told that your fairy dust payment has been succesful, so that I can understand that payments will be fullfilled somehow.

[2017-02-27 18:16] danalexilewis opened #14 "Share with a friend"
When viewing any page, I want the option to share "cobuy" with a friend, so that i can tell others about cobuy

[2017-02-27 18:17] danalexilewis opened #15 "Give feedback"
When viewing any page, I want the option to give feedback to the cobuy team

[2017-02-27 18:17] danalexilewis opened #16 "Get answers"
When i have a question, I want to check an FAQ to see whether it has already been asked, so that I can solve my own problems

[2017-02-27 18:21] danalexilewis opened #17 "Anyalytics"
Set up google analytics - possibly something else too?

[2017-02-27 21:52] ahdinosaur commented on #1
@agentlewis i thought we weren't doing login, accounts, groups, etc in Alpha?

[2017-02-28 09:28] danalexilewis commented on #1
yep i dont mean that you have an account. only a user name for that occurence of entering the app. realising now it means you couldnt go away and come back. the idea was that two agents could be active at the same time and see each other on there

[2017-02-28 09:29] danalexilewis commented on #1
@ahdinosaur ^

[2017-02-28 09:39] danalexilewis commented on #1
we could also just say what ever username they want to use they can? and if its already been used we just ad a number on the end?

[2017-03-07 22:36] ahdinosaur opened #18 "navigation v1"
implement basic navigation flow from

![cobuyflow-repeatuser](https://cloud.githubusercontent.com/assets/719605/23681314/7386d492-03f3-11e7-8436-9b008757bbf1.jpg)

[2017-03-08 04:22] #18 closed, assigned to nobody

[2017-03-08 04:24] mischa-s opened #19 "Navigation V2"
-Configure Tranisition
-Factor out common css styles
-Hook in to URL changes (make smarter)

[2017-03-08 04:38] ahdinosaur commented on #6
![snapshot135](https://cloud.githubusercontent.com/assets/719605/23690381/0c99476e-0426-11e7-90fa-e281285393c0.png)

[2017-03-08 04:38] #6 closed, assigned to nobody

[2017-03-08 05:34] mischa-s opened #20 "Design UI for modifying item quantities in realtime"
It is currently possible to modify item quantities but the UI is not completely intuitive (i.e. it takes a bit of head scratching to understand what is happening)

Needs:
-whiteboarding of showing complicated problems in a simple and intuitive way

-implementation of tweaked design

[2017-03-19 22:49] ahdinosaur commented on #3
![cobuy-orders-page](https://cloud.githubusercontent.com/assets/719605/24085552/3fb82a02-0d63-11e7-94d5-68a4cfc1b858.jpg)

[2017-03-20 05:01] ahdinosaur commented on #3
first pass done! https://github.com/enspiral-root-systems/cobuy/commit/2e47df8875c1143f2e28051e18d33a07b5c19b0c

![snapshot137](https://cloud.githubusercontent.com/assets/719605/24089097/4303bc10-0d97-11e7-8c34-c0315a622955.png)

[2017-03-20 05:54] danalexilewis commented on #3
mikey that looks great!

[2017-03-20 10:42] #3 closed, assigned to nobody

[2017-03-20 10:47] ahdinosaur opened #21 "order status"
working on https://github.com/enspiral-root-systems/cobuy/issues/3 brought back memories of building [Cobudget](http://cobudget.co).

it'd be great to have a clear set of possible "status" that an order can be in.

the so far i made a `startDate` and `endDate` to delimit the initial "intent-casting" process, which makes the following statusus:

- pending
- open
- closed

but really i think there a

[2017-03-21 11:16] ahdinosaur commented on #21
some descriptions

1. while facilitator is editing order and before it becomes live
2. after facilitator clicks 'go live' and before individual intent phase completes
3. after individual intent phase completes and before group commitment is finalized
4. after group commitment is finalized and before money is paid
5. after money is paid and before invoice is sent to supplier
6. after invoice is sen

[2017-03-21 23:20] ahdinosaur commented on #20
what user interface we have so far:

![snapshot140](https://cloud.githubusercontent.com/assets/719605/24175068/14985940-0ef9-11e7-8667-0bf19c651e37.png)

what data we have to work with, per "order item": https://github.com/enspiral-root-systems/cobuy/blob/master/ordering/get/itemsByOrder.js#L48-L60

- batch size for supplier
- sum of all minimum intent values
- sum of all maximum intent values
- t

[2017-03-21 23:28] ahdinosaur commented on #20
prior art:

- [Food Soft](https://vimeo.com/145927538)

[2017-03-22 02:10] ahdinosaur commented on #20
what to communicate:

- each individuals' min (how much they want), extra (how much they are willing to receive), and expected (how much they should expect to receive based on group's activity)
- whether the group wants more than the batches met and so needs more extra
- health: green (everyone gets what they want, maybe a little extra), yellow (some people get a lot of extra), red (some people ar

[2017-03-22 02:11] ahdinosaur commented on #20
/cc @simontegg @agentlewis

[2017-03-22 07:19] danalexilewis commented on #20
excited to iterate this going forward. nice short summary of the different coms the user may want.

[2017-03-28 21:58] ahdinosaur commented on #4
v2, maybe this shouldn't update so live.

[2017-03-28 22:07] ahdinosaur opened #22 "traffic light order item colors"
red:
- order no go
- when the group hasn't hit the minimum order quantity
- (OR when anyone's expected is zero)

yellow:
- order outside ranges, but will happen
- when anyone's expected is below their min or above their max
- (OR when anyone's expected is well above their min)

green
- just the right amount will be bought
- when everyone's expected is within their min and max
- (OR when everyone's

[2017-03-28 22:08] ahdinosaur opened #23 "implement proper order distribution calculations (expected)"

[2017-03-28 22:54] ahdinosaur opened #24 "consumer intent: minimum, desired, maximum"
at the moment we only specify min and max, when really we should allow the user to specify their desired amount.

[2017-03-28 22:57] ahdinosaur commented on #22
example:

- item is in batches of 15 units
- four consumers, each intend to buy at least 4 units and at most 6 units

question: is the system allowed to give 3 consumers 4 units and 1 consumer 3 units, thereby breaking the min and max specified?

[2017-03-30 08:13] ahdinosaur commented on #23
done, with tests! thanks @mischa-saunders :100:

[2017-03-30 08:13] #23 closed, assigned to nobody

[2017-03-30 08:14] ahdinosaur commented on #24
done!

[2017-03-30 08:14] #24 closed, assigned to nobody

[2017-06-05 04:38] ahdinosaur commented on #2
another round of data modelling! :tada:

---

data model included as part of [`dogstack-agents`](https://github.com/dogstack/dogstack-agents)

[code]

---

rest of data model overview:

(inspired by https://github.com/valueflows/valueflows/pull/115 and https://github.com/enspiral-root-systems/nanox/issues/11)

[code]

---

Cobuy process design using data models:

![img_20170605_163130](https://clo

[2017-06-05 05:03] ahdinosaur commented on #2
re-reading your comments with fresh context @fosterlynn, i like your idea to approach with "work streams", interested in how to apply that as a data model. do you have data model examples of this in NRP or Value Flows?

[2017-06-05 05:33] ahdinosaur commented on #2
found some relevant discussions in Value Flows issues:

- https://github.com/valueflows/valueflows/issues/174
- https://github.com/valueflows/valueflows/issues/148
- https://github.com/valueflows/valueflows/issues/109
- https://github.com/valueflows/valueflows/issues/106

from what i understand, we want to model the entire order process as a series of steps that connect outputs from the previous s

[2017-06-05 08:50] agentlewis commented on #2
nicely documented @ahdinosaur It's funny how much sense the nanox stuff makes to me now. I think I needed the paper talk through back when you wrote it :)

[2017-06-05 23:44] fosterlynn commented on #2
Wow @ahdinosaur looks like you all been thinking!  I'll take some time to digest the detail tomorrow, and see if we are missing anything in ValueFlows from your on-the-ground work.  And if you want comments, I can do that too, especially since there have been a number of evolutions over in VF. :blush:

[2017-06-06 00:10] ahdinosaur commented on #2
yes please!

[2017-06-06 16:58] fosterlynn commented on #2
@ahdinosaur I'm going to plop questions here as they come up:

What is an action vs a signal?

[2017-06-06 23:05] fosterlynn commented on #2
In VF we haven't nailed down recipes, although the plan and observation parts are pretty nailed down - except intents not really.  Maybe it would help to look at Bob's Vocabulator, I don't know. http://valueflows.pythonanywhere.com/   Or this is more or less a data model, partially complete: https://valueflows.gitbooks.io/valueflows/content/specification/diagrams/uml.html.  And the rest of that gi

[2017-06-07 07:53] ahdinosaur commented on #2
it's a continuation of [my simplified Value Flows idea](https://github.com/valueflows/valueflows/blob/8bb4587290db0090c2e96cf7a2bfb53d12bfa535/README.md#action)

depends on what you mean by _VF vocab_. :wink: if you mean the conceptual vocabulary, then yes that's what i'm hoping to talk about here! if you mean the current JSON-LD implementation of the conceptual vocabulary, then no, since i think

[2017-06-07 10:09] bhaugen commented on #2
We want to support many formats. In the [Vocabulator](http://valueflows.pythonanywhere.com/) we currently output turtle, json-ld, json, yaml, n3, n-triples, and rdf+xml. Want to add CSV. Got any other ideas?

[2017-06-07 10:32] ahdinosaur commented on #2
i'm mainly interested in the developer experience of building a "VF-native" app. i think this is one of those things where i don't actually know _how_ the current approach can be improved since i'm still trying to understand how Value Flows works in practice, but i'd rather explore following my intuition which is designing data structures i understand enough to explain to my co-workers and build i

[2017-06-07 10:39] bhaugen commented on #2
If you got a use case I can implement in the Vocabulator, and an output format to try, I'll try it as soon as the required concepts are agreed upon by the VF gang. Of which you are one. So meow up. :smile_cat:

[2017-06-07 12:26] fosterlynn commented on #2
@ahdinosaur thanks, and awesome too!  :heart:  And yes, we all gotta do some experimenting on it, and I definitely take it as a 2-way street.  I have thought of VF as needed between pieces of software that want to talk to each other (of whatever size, depending on how mad your science is), and whatever people want and need to do inside is encapsulated for them.  At the same time, I'm still contemp

[2017-06-07 12:33] bhaugen commented on #2
Possibly unlike Lynn, I am very interested in VF native apps.

[2017-06-07 14:06] ahdinosaur commented on #2
my current thinking is that a "VF-native" app means you embrace Value Flows as the primary design pattern in your app architecture, rather than building your app and translating it to Value Flows later. in practice this might mean you use Value Flows concepts in how you write your app data models, hopefully even as a re-usable module (library) you can import into your app's code, not just Value Fl

[2017-06-07 15:56] bhaugen commented on #2
Yeah. that's what I mean, too. But it comes in two flavors: conventional apps, and flocks of tiny apps where each app might implement one and only one of the VF "primitives" and they meet on the internets and work together in various patterns.

One of the [REA app](https://github.com/django-rea/rea-app) gang has fallen in love with the Scuttleverse and wants to work with Cel to develop an SSB mutu

[2017-06-07 21:06] fosterlynn commented on #2
excerpt from above:
[code]

In terms of VF, I think you may have bundled the vf:Process and vf:EconomicEvent into one thing?  Or possibly the above is meant to address only the exchanges?

Speaking of exchanges, we have a new model (different than NRP), which can use any vf:action (event type) as part of an exchange.  Like you can exchange work for something else, for example.  We're still trying

[2017-06-15 08:36] ahdinosaur commented on #2
/cc @mmckegg

[2017-06-15 23:05] ahdinosaur commented on #2
/cc @gregorykan

[2017-06-16 00:07] fosterlynn commented on #2
hey @ahdinosaur as soon as I have more time (maybe in a few days?), I'll do something more instance related and friendlier to look at......  :)

[2017-06-19 02:44] ahdinosaur opened #25 "first pass at user activity flow diagram"
will involve making diagram into a digital flow chart which captures all the possible user activities

[2017-06-19 02:45] ahdinosaur opened #26 "setup code repo using dogstack"
- [ ] get minimal app working

[2017-06-19 02:46] ahdinosaur opened #27 "investigate storybook"

[2017-06-19 02:50] ahdinosaur opened #28 "page: landing"
- [x] dumb component (maybe add to storybook)
- [x] make it work with the app
- [ ] screenshot/gif grab

[2017-06-19 02:51] ahdinosaur opened #29 "ux flow: login"
implement basic functionality, nothing pretty.

resources:

- https://blog.codinghorror.com/the-god-login/

user interface:

- "Log in" button
- clicking this should open a form to submit initial user info
- doesn't include validations
- submit does stuff at above
- routes you to new page

using `dogstack-agents`

[2017-06-19 02:53] ahdinosaur opened #30 "ux flow: sign up"
implement basic functionality, nothing pretty.

resources:

- https://blog.codinghorror.com/the-god-login/

user interface:

- "Sign up" button
- clicking this should open a form to submit initial user info
- doesn't include validations
- submit does stuff at above
- routes you to new page

using `dogstack-agents`, should

- create new user
- create new group
- add new user to be in admin relation

[2017-06-19 02:55] ahdinosaur opened #31 "page: pre-requisites"
view nested Task\* data models as a checkbox list, similar to a nested trello card

- [ ] paper sketch (upload photo)
- [ ] dumb component (maybe add to storybook)
- [ ] make it work with the app

[2017-06-19 02:55] ahdinosaur opened #32 "page: create my profile"
- [ ] paper sketch (upload photo)
- [x] dumb component (maybe add to storybook)
- [x] add it to `dogstack-agents`
- [ ] make it work in the app

needs to be a personal task assigned when someone registers as a new user.

closes #140

[2017-06-19 02:56] ahdinosaur opened #33 "page: create group profile"
- [ ] paper sketch (upload photo)
- [ ] dumb component (maybe add to storybook)
- [ ] add it to `dogstack-agents`
- [ ] make it work in the app

[2017-06-19 02:56] ahdinosaur opened #34 "page: create supplier profile"
job story: when i want to setup my the supplier for my first order, i can create / update a group profile.

![screenshot_20170816_145006](https://user-images.githubusercontent.com/719605/29345329-370dcf20-8292-11e7-83b2-a56ac2149299.png)

will be a similar implementation to https://github.com/root-systems/cobuy/pull/120, possibly done in parallel with https://github.com/root-systems/cobuy/issues/3

[2017-06-19 02:57] ahdinosaur opened #35 "page: invite group members"
- [ ] paper sketch (upload photo)
- [ ] dumb component (maybe add to storybook)
- [ ] add modules to `dogstack-agents`
- [ ] make it work in the app
  - [ ] send emails to any new admins, so they could take over setup from original admin

[2017-06-19 02:57] ahdinosaur opened #36 "page: add products and prices"
depends on https://github.com/root-systems/cobuy/issues/114 being done first.

job story: when i want to setup my the supplier for my first order, i can add products (offerings) and corresponding prices (price specifications).

![screenshot_20170816_144549](https://user-images.githubusercontent.com/719605/29345254-9be7896e-8291-11e7-9a9a-81f2576c3756.png)

will be a similar implementation to https

[2017-06-19 02:59] ahdinosaur opened #37 "page: dashboard"
- [ ] paper sketch (upload photo)
- [ ] dumb component (maybe add to storybook)
- [ ] make it work in the app

[2017-06-19 02:59] ahdinosaur opened #38 "setup email service"
some random guy made a [`nodemailer`](https://nodemailer.com/about/) service for feathers: https://github.com/feathersjs/feathers-mailer.

- [x] add new service to `notifications` topic, in the `services` folder
- [x] hook service up into the main `server` top-level file
- [x] install `maildev` as `devDependency`: https://github.com/djfarrelly/maildev
- [x] add `dev:mail` script, move current `dev

[2017-06-19 03:03] ahdinosaur opened #39 "page: individual intent casting"
depends on https://github.com/root-systems/cobuy/issues/44 and https://github.com/root-systems/cobuy/issues/49.

job story: when my group is ready to begin an order, i should be assigned a TaskPlan to cast my individual intent, where i can say my { desired, minimum, maximum } values for how much i want to order for each product offered by the order supplier given the price specifications.

branch:

[2017-06-19 03:03] ahdinosaur opened #40 "page: group plan (facilitator tweaking)"
job story: when the group is done casting intents (https://github.com/root-systems/cobuy/issues/39), the group admin should be assigned a TaskPlan to tweak the order. the Cobuy system should generate the best expected order given the current desired values and minimum / maximum constraints, but also provide computer assisted ways to resolve constraint-breaking conflicts, plus a way to manually ove

[2017-06-19 03:04] ahdinosaur opened #41 "event: "order open!""
job story: when as an admin i've finished the order pre-requisites and i'm ready for my group to begin an order, i should be able to "open" the order. this should assign everyone in the group a TaskPlan to cast their individual intent, which should then send them an email notification to tell them of their current task.

sub-tasks:

- https://github.com/root-systems/cobuy/issues/161

[2017-06-19 03:08] ahdinosaur opened #42 "event: "order closing soon!""
either:

- you haven't ordered yet...
- do you want to check your order against the group?

[2017-06-19 03:12] ahdinosaur opened #43 "page: group plan (saved record)"
- [ ] what are possible actions from here?
  - [ ] generate order form to send to supplier
  - [ ] do a manual admin edit to the plan
  - [ ] re-start the order intent flow
- [ ] paper sketch (upload photo)
- [ ] dumb component (maybe add to storybook)
- [ ] make it work in the app

[2017-06-19 04:25] ahdinosaur opened #44 "algorithm: combine individual intents into estimated order"
job story: when i cast my intent in the context of other individual intents from other members of the group, i should be able to know the current expected order.

the calculation will try to be as close to the desired intents as possible, while also doing best to stay within the given minimum and maximum constraints.

@mischa-saunders and i worked on this in `v1`, we even wrote tests!

https://git

[2017-06-19 04:44] #26 closed, assigned to ahdinosaur

[2017-06-19 22:45] sarah-arrrgh commented on #25
Flow chat link:
https://www.draw.io/#G0B9Qp9qMj9fuyWFJvOHNsSzVyWDA

[2017-06-19 22:52] ahdinosaur opened #47 "sprint #1 :tada:"
:tada: :tada: :tada:

[2017-06-19 23:25] sarah-arrrgh commented on #25
![image](https://user-images.githubusercontent.com/12442114/27310005-44aeb108-55ab-11e7-80dd-bc33669bd809.png)

[2017-06-19 23:25] ahdinosaur opened #48 "component: TaskWorker"
data models: https://github.com/root-systems/cobuy/wiki/Models#task

TaskWorker:

- receives task plan as props
- when task has sub-tasks, displays list of checkboxes that link to each sub-task
- otherwise shows header at top of page with task recipe name, agent in plan, and a button to create a task work when task is "done"

[2017-06-19 23:44] sarah-arrrgh opened #49 "component: individual intent casting"
creating the individual intent casting view so it can be tested and tweaked

https://github.com/root-systems/cobuy/issues/20

[2017-06-20 01:18] ahdinosaur commented on #31
question: how does the "task" represent the flow across pages? for example, the "create my group" sub-task involves going to the group profile update page, then the invite members page, then the task in complete and they go back to the pre-requisites page.

[2017-06-20 02:23] #27 closed, assigned to ahdinosaur

[2017-06-20 02:36] ahdinosaur opened #50 "dumb component: profile"
- edit
  - [ ] name
  - [ ] description
  - [ ] image
- show
  - [ ] name
  - [ ] description
  - [ ] image

questions:

- how to form? `redux-form`?
- how to editable fields?
- how to image upload / crop?

[2017-06-21 06:39] danalexilewis commented on #25
@sarah-arrrgh how's the drawing coming?

[2017-06-21 23:02] ahdinosaur opened #52 "dumb component: god login / signup"
https://blog.codinghorror.com/the-god-login/

[2017-06-22 02:48] sarah-arrrgh commented on #25
**FLOWS**

**Sign up**

- [x] Sign up as someone who wants to create/admin a new group
- [ ] Sign up as someone who has been invited to join a group as a member - still in pre-requisite phase
- [ ] Sign up as someone who has been invited to join a group as a member - past pre-requisite phase
- [ ] Sign up as someone who has been invited to help admin a new group - still in pre-requisite phase
- [

[2017-06-22 03:50] #50 closed, assigned to ahdinosaur, gregorykan

[2017-06-22 04:19] gregorykan opened #55 "story: invite members component"
-

[2017-06-22 08:58] ahdinosaur commented on #25
@sarah-arrrgh this is really great, i appreciate the format and level of detail. :heart_eyes_cat:

[2017-06-23 00:08] #55 closed, assigned to gregorykan

[2017-06-23 04:18] ahdinosaur commented on #30
working on refactoring `dogstack-agents` to do this better than before

[2017-06-23 06:02] ahdinosaur opened #58 "ux flow: forgot password"

[2017-06-25 23:15] #52 closed, assigned to ahdinosaur

[2017-06-26 01:43] danalexilewis opened #61 "Is the user flow of single agent different to a group"
Do peeps think the the flow would differ for a individual purchasing through the system rather then trying to participate as a group. Technically this is an order with one participant - so under the hood it's the same.

I was wondering if there was something like a "cart" which represented your personal order - ie not with others. Also concerned this could be confusing.

Maybe it's a turn on/off f

[2017-06-26 03:40] ahdinosaur commented on #30
making progress!

![auth-flow-0](https://user-images.githubusercontent.com/719605/27524046-b6abf1c4-5a85-11e7-9b7d-45dddc14c98a.gif)

[2017-06-26 03:46] ahdinosaur commented on #61
@agentlewis what is the use case in coschool? before we jump to any solution designs, what's the problem that coschool is meant to address here?

[2017-06-26 03:48] ahdinosaur opened #62 "ux flow: email / password is wrong"
https://github.com/root-systems/cobuy/pull/59 implements the error coming back in the SignIn container props, but is missing helpful error message text and styles.

[2017-06-26 03:48] ahdinosaur opened #63 "ux flow: email is already taken"
https://github.com/root-systems/cobuy/pull/59 implements sending any errors back from the server to the Register component, but need some helpful error message text and styles. maybe will include a suggestion to forgot password flow (https://github.com/root-systems/cobuy/issues/58)?

[2017-06-26 04:03] ahdinosaur commented on #30
next up, will add profile and relationship data models to `dogstack-agents` :sunflower:

[2017-06-26 05:44] ahdinosaur commented on #30
actually, before that am going to make this login flow better with some Oauth login. :space_invader:

[2017-06-26 08:55] danalexilewis commented on #61
Adding more context:

Coschool is lees in need of using cobuy to increase their buying power and more a need to share info about what they buy and from who. There will be times where they want to buy as a group - eg laptops or laptop trolleys. And other times where they just want to buy the best value items. Eg pencils/stationary, toilet paper, etc.

In coschool we are looking to connect the schoo

[2017-06-27 00:24] gregorykan opened #64 "story: offering form"

[2017-06-27 03:21] sarah-arrrgh commented on #25
Checklist now lives here:
https://github.com/root-systems/cobuy/wiki/User-activity-flows

[2017-06-27 09:39] ahdinosaur opened #66 "research: a11y (accessibility)"
what should our approach be with [accessibility](https://en.wikipedia.org/wiki/Computer_accessibility)?

i wonder if we should enforce some guidelines on whether our code, especially our dumb (storybook) react components, are "done".

for example, some aspects of accessibility for each component:

- conformance with [web aria attributes](https://en.wikipedia.org/wiki/WAI-ARIA)
- use translate-able

[2017-06-29 04:25] sarah-arrrgh commented on #49
TODO:

- [x] min, desired & max values correspond to a number scale passed in
- [x] min, desired & max relate to each other sensibly
- [x] if you move desired, min and max move
- [x] on initial click, set min to be \< desired and max \> desired
- [x] visual cues to show min+max - vertical lines, boxing in around desired
- [ ] style slider lines to be dashed

NICE TO HAVE:

- [ ] initial click > sm

[2017-06-29 04:25] sarah-arrrgh commented on #49
Initial UI for member intent casting for a product:

![image](https://user-images.githubusercontent.com/12442114/27671397-9967c8cc-5ce7-11e7-8e6c-dc3f8efd52c2.png)

Three sliders with dashed lines:
Top slider = minimum
Middle slider = desired
Bottom slider = maximum

- On load, only middle slider (desired) is visible. (if a member doesn't want any of that item, we don't need to know that their min

[2017-06-29 04:38] danalexilewis commented on #49
@sarah-arrrgh can you add some text explaining the image?

[2017-06-29 04:44] danalexilewis commented on #49
Design questions for anyone:

 - why are there three sliders?
 - what does the box created by the verticle lines signify? A target?
 - can I only move desired?
 - if on the initial click min is desired is there then nothing in the middle of the box?
 - what's the difference between min and desired?

Not expecting a change to what's being done - rather documentation of why we are doing it this way.

[2017-06-29 05:22] sarah-arrrgh commented on #49
@agentlewis have added some notes to the photo comment, let me know if you are still unclear on anything!

[2017-06-29 05:46] danalexilewis commented on #49
Great thanks

Design questions that remain unclear to me:

 - you added notes saying what the 3 sliders are, can you also explain why there are three and not one. Or something else entirely like fields, dials. Buttons etc. what is the desicion that led to there being 3.
 - it would be great if you do some ux testing of these sliders as soon as possible and see if it's intuitive what they are. Ie c

[2017-06-29 06:21] danalexilewis commented on #66
Definitely think should aim to conform to aria. Though maybe we can do an MVP of it? Something like resizable text via using ems for all text sizes.

I was excited about [typography.js](http://kyleamathews.github.io/typography.js/) for design and wonder if it will help by making our text easily adjustable for impaired vision.

I would also love to have multi language support from the get go. Ie if

[2017-06-29 09:00] #25 closed, assigned to danalexilewis, iainkirkpatrick, sarah-arrrgh

[2017-06-29 09:12] ahdinosaur commented on #30
ready for review! :taco:

- https://github.com/root-systems/cobuy/pull/59
- https://github.com/dogstack/dogstack-agents/pull/1
- https://github.com/root-systems/dogstack/pull/66

[2017-07-02 23:16] ahdinosaur opened #67 "setup i18n using react-intl"
when i want to work on a Cobuy component, it should be clear how to:

- add or edit translation messages (in `i18n/locales`?)
- add translation messages to app or storybook (using `IntlProvider`)
- import translation messages into your component (getting messages from context)

[2017-07-02 23:19] ahdinosaur opened #68 "setup design style guide"
when i want to work on a Cobuy component, it should be clear how to follow the Cobuy style.

this guide will operate as a source of truth for design decisions that affect the whole app, and should be updated after the initial creation to keep everything up to date as design decisions change.

maybe pull relevant content from material ui style guide:

- colors
- typography
- material ui theme

use

[2017-07-02 23:20] ahdinosaur commented on #20
superseded by https://github.com/root-systems/cobuy/issues/49

[2017-07-02 23:20] #20 closed, assigned to nobody

[2017-07-02 23:20] ahdinosaur commented on #19
stale

[2017-07-02 23:20] #19 closed, assigned to nobody

[2017-07-02 23:22] ahdinosaur commented on #66
action items from this:

- https://github.com/root-systems/cobuy/issues/68
- https://github.com/root-systems/cobuy/issues/67

[2017-07-03 03:42] #64 closed, assigned to gregorykan

[2017-07-03 05:35] #29 closed, assigned to ahdinosaur

[2017-07-03 05:35] #30 closed, assigned to ahdinosaur

[2017-07-03 05:37] #47 closed, assigned to ahdinosaur, gregorykan, sarah-arrrgh

[2017-07-03 23:12] danalexilewis opened #69 "Spike: Admin on Rest"
I am interested in whether we can do user and permission management via https://github.com/marmelab/admin-on-rest

Questions:

 - what is possible with AoR
 - will it work well with dogstack/cobuy
 - how much more work is it over using redux-forms
 - could we use it for data tables like admin views on catalogs

[2017-07-03 23:13] ahdinosaur opened #70 "style member invites component"

[2017-07-03 23:13] ahdinosaur opened #71 "implement i18n on existing components"

[2017-07-03 23:19] ahdinosaur opened #72 "check app works on a fresh git clone, pair with newbie to get dev experience feedback"

[2017-07-03 23:22] ahdinosaur opened #73 "implement and test intent -> expected calculations"

[2017-07-03 23:25] danalexilewis opened #74 "Wiki: add examples of different types of buying"

[2017-07-03 23:34] ahdinosaur opened #75 "finalize data model + ux flow + other deets for tasks"

[2017-07-03 23:37] ahdinosaur opened #76 "scope dashboard and navigation"

[2017-07-03 23:47] danalexilewis opened #77 "Contributor licence argeement"
https://github.com/ahdinosaur/contributing

possibly use hello sign to get peeps to sign

[2017-07-04 02:04] gregorykan commented on #72
- atm there's some weird bug with running `npm i` on first go, which changes the package-lock.json and removes a bunch of dependencies for unknown reasons
- current solution is to run `npm run burnthemall` instead of `npm i`

[2017-07-04 02:17] #72 closed, assigned to ahdinosaur, gregorykan

[2017-07-04 04:49] #67 closed, assigned to ahdinosaur

[2017-07-04 06:25] ahdinosaur commented on #75
## data model first draft

### TaskRecipe

- name
- description
- agent (owner)
- taskRecipes

### TaskPlan

- taskRecipe
- agent (assignee)
- due date (or range)

### TaskWork

- taskPlan
- agent (actor)
- done date (or range)

[2017-07-04 06:30] ahdinosaur commented on #75
open questions:

- is each task a single page?
  - OR can a single task involve many pages?
- how do steps flow into each other?
- when is a task considered "done"?
  - how to go back to a completed task?
- how does a task represent a page?
  - what is the route of a task page?
  - how does the task page trigger an underlying component?
  - how does the underlying component receive the task?
- are

[2017-07-04 07:09] ahdinosaur commented on #68
@gregorykan potential other considerations:

- normalizing default styles like [GitHub's base css](https://github.com/primer/primer-css/tree/master/modules/primer-base/lib)
  - we already use `normalize.css`, but the other code they have is great for removing the default margins and paddings from elements, i often find myself annoyed by these things.
- compiling a list of existing style guides and

[2017-07-05 00:35] ahdinosaur commented on #75
decision sesh!

![img_20170705_121447](https://user-images.githubusercontent.com/719605/27845020-3f42d792-617e-11e7-96b6-005ea4e668c1.jpg)

- each task is a single page
  - each task recipe has a component
    - question: what props are passed from task to component?
    - or, how does the container send live info to the task? like a getter
  - the page is `/task/${id}` and has a user interface el

[2017-07-06 05:11] ahdinosaur commented on #75
![img_20170706_165159](https://user-images.githubusercontent.com/719605/27896090-aeda09b6-626b-11e7-9a96-93c0538da5d6.jpg)

task recipe should be an object with:

[code]

- information such as current agent who's profile is being completed should be part of the task plan, which will be passed down as props to the task recipe component (which is likely connected to the redux store).
- components:

[2017-07-06 05:12] #71 closed, assigned to gregorykan

[2017-07-06 05:27] ahdinosaur commented on #48
renamed this to TaskWorker and added details in description

[2017-07-06 05:33] ahdinosaur commented on #76
first draft:

- Navigation
  - use [font awesome hamburger icon in top left](http://fontawesome.io/icon/bars/) (NavigationToggle) in [material ui app bar](http://www.material-ui.com/#/components/app-bar) (NavigationBar) to toggle [material ui drawer](http://www.material-ui.com/#/components/drawer) (NavigationDrawer)
- NavigationMenu
  - shows "LogOut", "My Profile", "My Groups", "My Tasks" buttons

[2017-07-06 05:39] ahdinosaur commented on #73
old code (with tests!): https://github.com/root-systems/cobuy/tree/v1/ordering/util

[2017-07-06 10:15] danalexilewis commented on #76
I have a licence for fa 5

[2017-07-06 10:20] danalexilewis commented on #76
There is also a menu in the material ui pack, https://material.io/icons/ search for menu

[2017-07-06 23:14] gregorykan commented on #68
@ahdinosaur re grid system i think kilvin would be an obvious choice to start with, considering both react layout components + fela ~

[2017-07-06 23:30] gregorykan commented on #68
hmmm but also this https://github.com/queckezz/veel

[2017-07-07 05:19] ahdinosaur commented on #76
:-1: on using any proprietary content in Cobuy

another example is not using the latest [EmojiOne](https://github.com/emojione/emojione) (a project that became successful by being the best open source emojis), because the new version is now proprietary.

[2017-07-07 11:42] danalexilewis commented on #76
confused: http://fontawesome.io/license/

i have a pro licence as a supporter - i think that just means i have access to svgs or something. I guess the point is not to use the licence though.

[2017-07-08 02:06] ahdinosaur commented on #76
yeah, i think the license for Font Awesome 5 is different than the license for Font Awesome 4 described on that page.

[2017-07-11 01:36] gregorykan commented on #70
![Screen Shot 2017-07-11 at 1.35.53 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/554158c23ae54b6500e6c8b0/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b77246455f26b7191a379f1112e4f5a5c5ecc3c4a4356bcbbd671f3e57862804e0ee5833b5772c03c16aeb8d617b902be208b4784e4e98e1ad2f42f67b6d5db1063474f4dcbed5727a29f41c95cff42e64e53ad143f64e1722431.png)

[2017-07-11 01:56] ahdinosaur commented on #70
![ssb-profile](https://user-images.githubusercontent.com/719605/28047797-c5824e8e-6640-11e7-9daf-b42b5add708e.png)
![ssb-profile1](https://user-images.githubusercontent.com/719605/28047794-c29b779a-6640-11e7-82a7-1b032631e5ec.png)

[2017-07-11 05:37] gregorykan commented on #70
![Screen Shot 2017-07-11 at 5.36.42 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/554158c23ae54b6500e6c8b0/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b77246455f26b7191a37df1112d4f5b5d5ecc3c4a4356bcbbd671f3e57862804e0ee5833b5772c03c16aeb8d617b902be208b4784e4e98e1ad2f42f67b6d5db1063474f4dcbed5727a29f41c95cff42e64854a0113366e3762431.png)

[2017-07-11 05:39] gregorykan commented on #70
![Screen Shot 2017-07-11 at 5.38.38 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/554158c23ae54b6500e6c8b0/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b77246455f26b7191a37df111234f5c575ecc3c4a4356bcbbd671f3e57862804e0ee5833b5772c03c16aeb8d617b902be208b4784e4e98e1ad2f42f67b6d5db1063474f4dcbed5727a29f41c95cff42e64854a1153663e07f2431.png)

[2017-07-11 05:43] gregorykan opened #85 "style profile component"

[2017-07-11 05:43] gregorykan opened #86 "style offerings component"

[2017-07-11 23:06] #85 closed, assigned to gregorykan

[2017-07-12 05:30] #70 closed, assigned to gregorykan

[2017-07-12 05:30] #86 closed, assigned to gregorykan

[2017-07-12 08:10] ahdinosaur opened #92 "research: agent profiles"

[2017-07-12 08:10] ahdinosaur commented on #92
from https://github.com/root-systems/cobuy/issues/70

![Screen Shot 2017-07-11 at 1.35.53 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/554158c23ae54b6500e6c8b0/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b77246455f26b7191a379f1112e4f5a5c5ecc3c4a4356bcbbd671f3e57862804e0ee5833b5772c03c16aeb8d617b902be208b4784e4e98e1ad2f42f67b6d5db1063474f4dcbed5727a29f4

[2017-07-12 08:12] ahdinosaur opened #93 "research: group invites / management"

[2017-07-12 08:12] ahdinosaur commented on #93
from https://github.com/root-systems/cobuy/issues/70

![Screen Shot 2017-07-11 at 5.36.42 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/554158c23ae54b6500e6c8b0/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b77246455f26b7191a37df1112d4f5b5d5ecc3c4a4356bcbbd671f3e57862804e0ee5833b5772c03c16aeb8d617b902be208b4784e4e98e1ad2f42f67b6d5db1063474f4dcbed5727a29f4

[2017-07-12 08:22] ahdinosaur commented on #93
GitHub in more detail

![github-teams](https://user-images.githubusercontent.com/719605/28108458-ad4d24b0-673f-11e7-9c5b-ca424c2f3f23.png)
![github-teams1](https://user-images.githubusercontent.com/719605/28108459-ad50a43c-673f-11e7-98c5-d37ea2a11720.png)
![github-teams2](https://user-images.githubusercontent.com/719605/28108460-ad545834-673f-11e7-8211-661f98a6b124.png)
![github-teams3](https://us

[2017-07-12 08:24] ahdinosaur opened #94 "research: price lists / inventory / online shop as supplier"

[2017-07-12 19:26] danalexilewis commented on #93
Great to see this visual/ux research in our issues - thanks @ahdinosaur

[2017-07-12 19:45] danalexilewis commented on #92
adding more screen shots:

### Xero
![Screenshot at 2017-07-13 07-34-03.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/57266fe033114d1300fb451f/125516c66e82c728ace21e0d46db978826878dba87e6ab03a549b0c67917703e7953ee7a23c5b37ff2112f4c5f5c5cb053181d1ba6acda6fb4bc2e75820e5de5d76b5e73c43d45a4be811bbf01b221d91a81e0ae965e82b96371b8d6d6056b5c17129bfd5b3fa19d42c150fe43e34d53a31a35

[2017-07-12 19:53] danalexilewis commented on #93
### Xero
uurrrggg
![Screenshot at 2017-07-13 07-48-48.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/57266fe033114d1300fb451f/125516c66e82c728ace21e0d46db978826878dba87e6ab03a549b0c67917703e7953ee7a23c5b37ff216234c5b575cb053181d1ba6acda6fb4bc2e75820e5de5d76b5e73c43d45a4be811bbf01b221d91a81e0ae965e82b96371b8d6d6056b5c17129bfc5c3fa19d42c150fe42e14c50ad1a3e71ab.png)

### Tog

[2017-07-12 23:16] ahdinosaur commented on #94
local co-op documents and spreadsheets!

(prices removed since those are confidential)

![prices](https://user-images.githubusercontent.com/719605/28143931-8136fe00-67bc-11e7-971e-33def554c514.png)
![prices1](https://user-images.githubusercontent.com/719605/28143927-81294b16-67bc-11e7-968e-50cebaf3d7fe.png)
![prices2](https://user-images.githubusercontent.com/719605/28143929-812e02f0-67bc-11e7-962

[2017-07-12 23:20] ahdinosaur opened #95 "component: Navigation"
should be something like: https://negomi.github.io/react-burger-menu/, but with material ui.

- NavigationToggle
  - [font awesome hamburger icon](http://fontawesome.io/icon/bars/) (we already have fa installed)
- NagivationBar
  - [material ui app bar](http://www.material-ui.com/#/components/app-bar) (NavigationBar)
- NavigationDrawer
  - [material ui drawer](http://www.material-ui.com/#/componen

[2017-07-12 23:21] ahdinosaur opened #96 "component: Dashboard"
- Dashboard
  - button to "Start order"
  - lists "My Tasks"
  - split into sections with [material ui subheader](http://www.material-ui.com/#/components/subheader)

[2017-07-12 23:24] #76 closed, assigned to nobody

[2017-07-12 23:29] ahdinosaur commented on #95
would be sweet if component took props similar to existing [nav.js](https://github.com/root-systems/cobuy/blob/fb3fcd3b1682ed8a639384acfd42e3c2566a1487/app/components/nav.js), where [routes are specified as an array of objects](https://github.com/root-systems/cobuy/blob/fb3fcd3b1682ed8a639384acfd42e3c2566a1487/routes.js) and [massaged in a getter](https://github.com/root-systems/cobuy/blob/fb3fcd3

[2017-07-13 00:50] #48 closed, assigned to ahdinosaur

[2017-07-13 02:38] ahdinosaur commented on #92
## Github

![github-profile](https://user-images.githubusercontent.com/719605/28148100-e9a95318-67d8-11e7-9065-af69d90eda00.png)

## Twitter

![twitter-profile](https://user-images.githubusercontent.com/719605/28148107-efbf3024-67d8-11e7-9920-7c1a2988c794.png)
![twitter-profile1](https://user-images.githubusercontent.com/719605/28148115-f257927c-67d8-11e7-9c82-2d85103dba20.png)

[2017-07-13 02:50] ahdinosaur commented on #93
## Facebook

![facebook-groups](https://user-images.githubusercontent.com/719605/28148391-875a7cf8-67da-11e7-8e72-632fb1fefe5e.png)
![facebook-groups1](https://user-images.githubusercontent.com/719605/28148392-875cf8b6-67da-11e7-884f-5c0524021482.png)
![facebook-groups2](https://user-images.githubusercontent.com/719605/28148393-8760aa56-67da-11e7-8b89-3ad125a97abd.png)
![facebook-groups3](https://

[2017-07-13 02:51] ahdinosaur commented on #92
## Facebook

![facebook-profile](https://user-images.githubusercontent.com/719605/28148409-a504c2f4-67da-11e7-8ef3-3bc21643970c.png)
![facebook-profile1](https://user-images.githubusercontent.com/719605/28148408-a4f59ca2-67da-11e7-9070-f7f327476e05.png)

[2017-07-13 02:54] ahdinosaur commented on #94
## Facebook

![facebook-sell](https://user-images.githubusercontent.com/719605/28148496-1c1e1890-67db-11e7-8bdf-e2ecd98799d1.png)

[2017-07-13 03:11] ahdinosaur commented on #93
![coop-group](https://user-images.githubusercontent.com/719605/28148869-83343030-67dd-11e7-9780-dcef65e84331.png)
![coop-group1](https://user-images.githubusercontent.com/719605/28148870-8360f1b0-67dd-11e7-9a0a-4ba693763eb6.png)

[2017-07-13 03:12] ahdinosaur opened #97 "research: available orders as consumer"
![coop-group2](https://user-images.githubusercontent.com/719605/28148896-af3a54e8-67dd-11e7-89c5-838616508670.png)

[2017-07-13 03:21] ahdinosaur opened #98 "research: order form to supplier"
![coop-order-form](https://user-images.githubusercontent.com/719605/28149054-d45e193e-67de-11e7-86bd-905fc5d28591.png)

[2017-07-13 04:04] ahdinosaur opened #99 "research: task management"
## GitHub

![github-tasks](https://user-images.githubusercontent.com/719605/28149867-da938a7c-67e4-11e7-8c07-184707ffa914.png)
![github-tasks1](https://user-images.githubusercontent.com/719605/28149862-d5f287c0-67e4-11e7-9b29-1bc4926846c4.png)
![github-tasks2](https://user-images.githubusercontent.com/719605/28149863-d61be44e-67e4-11e7-8f1c-d4837e06d80c.png)

[2017-07-13 04:07] ahdinosaur commented on #99
![github-tasks3](https://user-images.githubusercontent.com/719605/28149934-66e4ae84-67e5-11e7-8a3e-65b062e4401e.png)
![github-tasks4](https://user-images.githubusercontent.com/719605/28149935-67128d90-67e5-11e7-953c-ae854b9fd960.png)
![github-tasks5](https://user-images.githubusercontent.com/719605/28149938-67182d90-67e5-11e7-89da-f6a53bc0fd64.png)
![github-tasks6](https://user-images.githubuserco

[2017-07-13 04:12] ahdinosaur commented on #99
## Trello

![trello-tasks](https://user-images.githubusercontent.com/719605/28150042-152f2e2e-67e6-11e7-8395-9393b9cb3688.png)
![trello-tasks1](https://user-images.githubusercontent.com/719605/28150044-155aaa5e-67e6-11e7-9880-e02f7bb635e2.png)
![trello-tasks2](https://user-images.githubusercontent.com/719605/28150045-1566cdc0-67e6-11e7-8fa2-222b7f94bbd2.png)
![trello-tasks3](https://user-images.gi

[2017-07-13 04:13] ahdinosaur commented on #93
## Trello

![trello-invite](https://user-images.githubusercontent.com/719605/28150057-2f056d2c-67e6-11e7-890c-dfbae5e1365b.png)

[2017-07-13 04:16] ahdinosaur commented on #66
saw this on Trello, really cool!

![labels](https://user-images.githubusercontent.com/719605/28150095-85f961f6-67e6-11e7-8883-8ad9a021b633.png)
![color-blind friendly labels](https://user-images.githubusercontent.com/719605/28150096-86248214-67e6-11e7-8aac-6647924bea9b.png)

[2017-07-13 06:24] gregorykan commented on #95
![app-bar-side-nav.gif](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/554158c23ae54b6500e6c8b0/125516c66e82c728ace21e0d46e9848a6e8082bbc2fab647a110fe953f046b313916ac217586f76ae5002e590d0946aa47595846fcad812da5b23c70825d59b8d53b4d68d47f40f2ecdd42e64bef62994597b5bd804dc4e1342ce58c8f493a1c061e9bb2.gif)

[2017-07-13 06:32] gregorykan commented on #95
@ahdinosaur i haven't done anything re: props and array of routes, just FYI ! this is srsly dumb-rock stuff - wouldn't be hard tho !

[2017-07-13 08:38] #95 closed, assigned to gregorykan

[2017-07-13 22:40] gregorykan opened #101 "research: dashboard"

[2017-07-13 22:52] gregorykan commented on #101
![xero-dashboard.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/554158c23ae54b6500e6c8b0/125516c66e82c728ace21e0d46f091882ccf87a89ce1bd4ca54ff4d665043761260ea62864c7b96aea1a7907575948ad465a5f10f4ff8a2fa6b63471d8090fbbc3714d36976345f3e5db55ea43a82a994c84bcbd8e45c9e13523e48a874836171755.jpg)

[2017-07-15 10:17] danalexilewis commented on #31
Id say an atomic task is something that is or is not complete. ie it cannot be partially completed. I think this is the definition of a workflow - a series of tasks. Where a workflow can (if desired) be partially complete - chached to be completed later.

So when I read task above I actually think its a workflow of a series of tasks (actions) across multiple pages.

Not sure if that sheds some lig

[2017-07-18 02:50] gregorykan opened #105 "feathers-action-react better error message for absent selector"
should validate `options` passed to `feathers-action-react` function here: https://github.com/ahdinosaur/feathers-action-react/blob/3e0baeafd0e4deb6f1de11802970aef2053aa373/index.js#L39

so we can replace this unhelpful error with a better error

[code]

[2017-07-20 03:29] #75 closed, assigned to ahdinosaur

[2017-07-20 04:39] ahdinosaur opened #107 "role: write content on blog, cross-post to Facebook + Twitter"
depends on https://github.com/root-systems/cobuy/issues/136

talk about:

- how we work
- demonstrate progress so far (maybe a video recording of demo)

TODO:

- [ ] write first draft
- [ ] get feedback
- [ ] amend
- [ ] publish blog post on Medium
- [ ] cross-post to our Facebook and Twitter

[2017-07-20 04:46] ahdinosaur opened #108 "dashboard: metrics"
- how many group purchases have happened?
- how much money has been spent on group purchasing?
- how many people have participated in group purchasing?
- ? how much money have i saved?

[2017-07-20 04:51] ahdinosaur commented on #28
examples:

TODO ADD MORE HERE!

- http://loomio.com
- http://benthebodyguard.com/index.php
- https://camplight.net/

[2017-07-21 02:18] gregorykan commented on #96
![dashboard-active-tasks.gif](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/554158c23ae54b6500e6c8b0/125516c66e82c728ace21e0d46ec95892b808ca89dedf242a749f9822c0b33723a0fb0693cc7f33ab0487e021b4d44be44500d12f4ff8f2aa1b43c24825a08e9d16d5775946815faaa9e0dfd50e474d412dcfce9c85ecafa3f23ed8a8a4f3e18051b8cfe5437a39d5985.gif)

[2017-07-21 02:29] #96 closed, assigned to gregorykan

[2017-07-22 02:14] gregorykan opened #113 "trigger creation and linkage of group agent on order && task plan creation"
@ahdinosaur would this work/help:

// startOrderEpic filters actions of type start-order
// mergeMap/map to create-task-plan action for the top-level task plan

// createTaskPlan epic filters actions of type create-task-plan
// check if this is the creation of a parent task plan, and
// mergeMap with create-task-plan action(s) for child task plans
// check if parent task plan has a related group a

[2017-07-24 23:23] ahdinosaur commented on #113
an alternative approach is we handle this in the server-side feathers services as after hooks. the pro is it avoids complex epics to ensure objects are created in order, plus it can eventually be done as a database transaction. this depends on our pages having queries to ask for all relevant data and not depending on server-side response, but we do this anyways.

[2017-07-25 01:30] gregorykan opened #114 "change offering form to match data model"
Child task of #36

@ahdinosaur and i note certain structural differences between the data coming out of the offerings form, and the data model for resource types.

example of current offering form output ("one crate of 16 cartons of 12 eggs"):

[code]

sample example given our data model:

[code]

notes on the comparison:

- the current output from the form privileges 'semantics', i.e. being more

[2017-07-25 02:45] gregorykan opened #115 "order service"
- create migration for taskplan, group or context column, which refers to group agent
- create migration for orders
  - agent (belongsTo)
- create service for orders
  - if agent not passed in
    - create agent (group type)
    - create prerequisite task plan, references group agent
- update service for taskplan
  - add hook which creates nested taskplans, if any

closes #https://github.com/root-

[2017-07-25 23:08] gregorykan opened #117 "introductory, lay explanation on how our stack works"

[2017-07-25 23:39] #117 closed, assigned to gregorykan

[2017-07-26 02:19] ahdinosaur opened #118 "add type json-schemas for all data models"
database models: https://github.com/root-systems/cobuy/wiki/Models

[2017-07-26 02:22] ahdinosaur commented on #118
should we make this a priority for this sprint? @gregorykan @agentlewis

i wonder if it would help better describe the app for on-boarding new devs.

[2017-07-26 02:28] gregorykan commented on #118
@ahdinosaur @agentlewis given we are (abruptly?) in a transition period, with @sarah-arrrgh and @NotThatSmith coming on board, and me heading off, i think it makes sense to prioritize this issue to facilitate onboarding, i.e. for us to straddle the 'present' (what we had planned for this sprint) and also the future (facilitating onboarding)

[2017-07-26 02:37] #31 closed, assigned to ahdinosaur, gregorykan

[2017-07-26 02:37] #113 closed, assigned to nobody

[2017-07-26 02:45] ahdinosaur commented on #94
@agentlewis mentioned computers as a good use case for composable resource types: one computer is composed of many individual components that can be bought as a bundle (one computer configuration) or separate components.

with this in mind, our [current model for resource types](https://github.com/root-systems/cobuy/wiki/Models#resourcetype) seems legit. :smiley:

[2017-07-26 03:19] ahdinosaur commented on #118
i also recommend we use something like [`json-schema-faker`](https://www.npmjs.com/package/json-schema-faker) in our tests and storybooks so our fake test data is always in sync with our schemas.

[2017-07-26 03:45] gregorykan opened #119 "make clear what non-dev tasks are be to done"
we're a product company now. if we don't put these tasks in our sprints, then it falls on someone else. not much of a problem now, but will be sometime soon. rather than outsource to someone outside, we'd rather turn our dev sprints into product sprints.

also allows devs to work on things when they are blocked on dev.

TODO:

- [ ]  add these tasks to tour waffle / GitHub board

initial thoughts:

[2017-07-26 08:27] danalexilewis commented on #118
I agree - I assume it makes debugging easier?

[2017-07-27 03:50] sarah-arrrgh opened #121 "research: landing"

[2017-07-27 03:54] sarah-arrrgh commented on #121
![screen shot 2017-07-27 at 3 53 25 pm](https://user-images.githubusercontent.com/12442114/28653809-cebd7dfc-72e3-11e7-92b1-54edbf4a0529.png)
![screen shot 2017-07-27 at 3 53 11 pm](https://user-images.githubusercontent.com/12442114/28653810-cebebcbc-72e3-11e7-8894-498e230bc9af.png)
![screen shot 2017-07-27 at 3 52 33 pm](https://user-images.githubusercontent.com/12442114/28653808-cebc37b2-72e3-11

[2017-07-27 03:59] sarah-arrrgh commented on #121
![screen shot 2017-07-27 at 3 58 30 pm](https://user-images.githubusercontent.com/12442114/28653911-769092bc-72e4-11e7-9503-93f3b17ca16b.png)
![screen shot 2017-07-27 at 3 56 48 pm](https://user-images.githubusercontent.com/12442114/28653912-76912dd0-72e4-11e7-9077-335c8a69752b.png)
![screen shot 2017-07-27 at 3 56 15 pm](https://user-images.githubusercontent.com/12442114/28653913-769ccef6-72e4-11

[2017-07-27 04:08] sarah-arrrgh commented on #121
![screen shot 2017-07-27 at 4 01 13 pm](https://user-images.githubusercontent.com/12442114/28653967-d847548c-72e4-11e7-8000-3e844c50fd1e.png)
![screen shot 2017-07-27 at 4 00 26 pm](https://user-images.githubusercontent.com/12442114/28653968-d84a556a-72e4-11e7-96b7-820f3d259c4c.png)
![screen shot 2017-07-27 at 3 59 57 pm](https://user-images.githubusercontent.com/12442114/28653969-d85aa424-72e4-11

[2017-07-27 04:53] sarah-arrrgh commented on #28
research ticket https://github.com/root-systems/cobuy/issues/121

[2017-07-27 04:54] sarah-arrrgh commented on #28
New similar but different Cobuy font
https://fonts.google.com/specimen/Lobster+Two?selection.family=Lobster+Two

[2017-07-27 06:00] sarah-arrrgh commented on #28
End of day status:
Figuring out how to change the stupid font face and color and anything about it ever! Blocked on this but will ask for support on Monday

[2017-07-31 00:24] sarah-arrrgh commented on #28
**FONT RESEARCH**

![image](https://user-images.githubusercontent.com/12442114/28758383-fcc1287a-75ea-11e7-9057-91645f138921.png)

![image](https://user-images.githubusercontent.com/12442114/28758382-f9473f2c-75ea-11e7-85c7-ef4928a95091.png)

![screen shot 2017-07-31 at 12 21 34 pm](https://user-images.githubusercontent.com/12442114/28758376-d883a94c-75ea-11e7-9e3a-e2915353916c.png)

REM font size

[2017-07-31 03:45] sarah-arrrgh commented on #28
Points | Pixels | Ems | Percent
-- | -- | -- | --
6pt | 8px | 0.5em | 50%
7pt | 9px | 0.55em | 55%
7.5pt | 10px | 0.625em | 62.5%
8pt | 11px | 0.7em | 70%
9pt | 12px | 0.75em | 75%
10pt | 13px | 0.8em | 80%
10.5pt | 14px | 0.875em | 87.5%
11pt | 15px | 0.95em | 95%
12pt | 16px | 1em | 100%
13pt | 17px | 1.05em | 105%
13.5pt | 18px | 1.125em | 112.5%
14pt | 19px | 1.2em | 120%
14.5pt | 20px | 1.25e

[2017-07-31 04:02] sarah-arrrgh commented on #28
REM vs EM - helpful article
https://zellwk.com/blog/rem-vs-em/

[2017-07-31 06:02] sarah-arrrgh commented on #28
End of day report:
got Cobuy title font and styling working, added copy

TODO:
- style allthethings
- change spacing around h1? (is that why the spacing is so weird above and below?)
- pretty pictures!
- how does it work at different screen sizes?

[2017-07-31 22:46] ahdinosaur commented on #114
@agentlewis thoughts: can we do price specifications based on abstract values? as in, "you get this price if you are part of Enspiral". or, "you get this price based on what level of membership of the coop you are".

[2017-07-31 22:46] #37 closed, assigned to nobody

[2017-07-31 23:04] danalexilewis commented on #118
ajv for validation - https://github.com/epoberezkin/ajv

[2017-08-01 00:12] ahdinosaur commented on #118
understanding JSON schema: https://spacetelescope.github.io/understanding-json-schema/

[2017-08-01 01:34] ahdinosaur commented on #118
examples:

## agent profile

[code]

## agent with profile

[code]

[2017-08-01 01:37] ahdinosaur commented on #118
in general, i think we'll have schemas to represent:

- database models (as in the wiki page)
- redux state models (same as database?)
- getter models (composed from database / redux state models, referencing related models)
- component models? (specific to each component, best to re-use as much as possible, probably out-of-scope for here)

[2017-08-01 07:45] gregorykan opened #123 "Captain's Log"
According to lore, the three-masted schooner was found west of Greenland by the whaler Herald on 11 October 1775. The boarding party took only the captain's log before leaving the vessel, because they were unwilling to search it. The last entry in the log was from 11 November 1762, which meant that the ship had been lost in the Arctic for 13 years. As the log was frozen, it slipped from the bindin

[2017-08-01 09:24] danalexilewis commented on #123
Chuckles - very good :)

[2017-08-01 09:38] gregorykan commented on #123
Here are some of the things I found challenging on this ship so far:

- Initially it was hard to know 'where the backend is' (lol if you know what I mean)
  - Have a look at the `feathers-actions` docs and those of the related libraries; have a look at the `server.js` and `services` files
  - Still unsure about non-CRUD endpoints?
- Getting used to `feathers-actions` doing so much
  - This is pure

[2017-08-01 13:29] michael-smith-nz commented on #118
How do we want to use these schemas? Do we want this for Stories and tests only? Or do we want to validate when running in a debug environment as well? I think Ideally we'd want all three, although I haven't looked into tooling

[2017-08-02 00:47] ahdinosaur commented on #118
on my mind:

- generating fake data for tests and stories
- validating server endpoints with [feathers `validateSchema` hook](https://docs.feathersjs.com/api/hooks-common.html#validateschema)
- maybe (in development) as React component prop types (there's probably a module for this)
- maybe (in development) as a redux middleware to validate the state tree on every state change

i'm happy to use it

[2017-08-02 03:10] sarah-arrrgh commented on #28
Current status:
Spending too long trying to figure out how margins and padding works with this stack. Need to drop it and do something else until @ahdinosaur can assist!

[2017-08-02 09:56] ahdinosaur commented on #28
@sarah-arrrgh here's a demo for how to do margins and padding with the stack: https://github.com/root-systems/cobuy/commit/d5ef37e151a17cc67fef2972326b885f71e10d46. does that help?

[2017-08-02 23:41] sarah-arrrgh commented on #28
thanks @ahdinosaur! this works in some ways, but when I try
`paddingHorizontal: theme.space[1]
`
it doesn't work. is there some special syntax for that?

[2017-08-02 23:46] ahdinosaur commented on #28
@sarah-arrrgh `paddingHorizontal`? that'd be sweet, but in normal css (as far i understand) you have to do `paddingLeft` and `paddingRight` in order to have that desired effect.

`fela` only provides access to the [standard css property names as in the browser](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Properties_Reference), in camelCase format. i'm not sure what sugar-y style property

[2017-08-02 23:47] sarah-arrrgh commented on #28
Thanks @ahdinosaur !

[2017-08-03 03:37] sarah-arrrgh commented on #28
Standard CSS properties:

CSS | JavaScript
-- | --
background | background
background-attachment | backgroundAttachment
background-color | backgroundColor
background-image | backgroundImage
background-position | backgroundPosition
background-repeat | backgroundRepeat
border | border
border-bottom | borderBottom
border-bottom-color | borderBottomColor
border-bottom-style | borderBottomStyle
border-

[2017-08-03 03:41] danalexilewis commented on #28
@sarah you could add that to the wiki :)

[2017-08-03 04:08] sarah-arrrgh commented on #28
End of day report:

- Figured out how to add sensible spacing around things, hooray!
- Finding suitable image for landing page - took some screenshots of the Cobuy videos, pretty low res but maybe will do for now?

TODO:

- ask Lu and Beka for hi res stills of video bits
- add tagline "Helping you buy good food, together" to landing page

[2017-08-03 12:23] michael-smith-nz commented on #123
This is great. Used it for the first bullet point already :grinning:

[2017-08-03 13:04] michael-smith-nz commented on #123
I found looking at the migrations in `db/migrations` a good to way to find what is actually being stored in the database.

[2017-08-03 13:18] michael-smith-nz opened #125 "TaskPlan vs TaskRecipe vs TaskWork"
I'm struggling to find how these three models are used in the application from the user's point of view. Clarification would be great :smile:

[2017-08-03 13:23] ahdinosaur commented on #125
task recipe: an abstract description of the task
task plan: an assignment of the task to some agent
task work: a completion of the task by some agent

does that help?

[2017-08-03 13:36] michael-smith-nz commented on #125
Great. Thanks. So:

- taskWork has a required taskPlanId
- taskPlan has a required taskRecipeId

I see [here](https://github.com/root-systems/cobuy/wiki/Models#taskwork) that taskPlan is required a taskRecipeId, but that can be removed if the above is correct because you can get to your recipeID through taskPlan?

[2017-08-03 13:45] ahdinosaur commented on #125
completing a task doesn't require making a plan (in the initial design i thought the same as what you have said), so taskWork has an _optional_ taskPlanId. this means that the taskPlan needs to reference the associated taskRecipe.

[2017-08-03 13:51] michael-smith-nz commented on #125
Cool. That clears things up :tada: :100:

[2017-08-03 18:39] danalexilewis commented on #125
Prod to Please harvest such learnings into the wiki :) and to share any ah-ha's at end of sprint :)

[2017-08-07 07:16] ahdinosaur opened #126 "clicking "done" creates a task work to mark task completion"
moving out from #120

job story: when i am done with a task and want to mark it as complete, i click "done" and a TaskWork is created to reference the associated TaskRecipe (and optional TaskPlan).

![screenshot_20170816_144226](https://user-images.githubusercontent.com/719605/29345185-22ce739e-8291-11e7-9e7e-6b32157e7d41.png)

this task should then show as "completed" on any page referencing it.

[2017-08-07 07:25] ahdinosaur commented on #123
re https://github.com/root-systems/cobuy/pull/120/commits/656dda9eb8e1aa5adb452ce37f260e684497b9a7

updates for how we do container queries:

- https://github.com/ahdinosaur/feathers-action/pull/19
- https://github.com/ahdinosaur/feathers-action-react/pull/3

the problem is we want to make it easy to declare what data you need for your component, but sometimes queries depend on each other having b

[2017-08-09 06:10] sarah-arrrgh commented on #28
End of day report:

- added background image to landing page

TODO:

- [x] add tagline "Helping you buy good food, together" to landing page
- [x] style/resize background image to look good on any screen size
- [x] style/resize "Cobuy" logo to look good in relation to background image on any screen size
- [x] add "sign in" and "sign up" buttons

[2017-08-10 06:31] sarah-arrrgh commented on #28
End of day report:

- styled background image to fit on any sized screen
- added tagline and font weights for tagline
- don't think resizing Cobuy logo is needed

TODO:

- [x] is there a way to change the opacity of the background image without affecting the inner components?
- [x] add 'sign in' and 'sign up' buttons
- [x] when screen is narrow and text is over the top of the sacks of dry goods, t

[2017-08-13 23:18] sarah-arrrgh commented on #28
Background opacity link:
https://stackoverflow.com/questions/10422949/css-background-opacity/18985783#18985783

Buttons:
http://www.material-ui.com/#/components/raised-button

[2017-08-14 04:14] sarah-arrrgh commented on #28
On exponential spacing scales:
http://tachyons.io/docs/layout/spacing/

[2017-08-14 05:17] ahdinosaur commented on #68
from https://github.com/root-systems/cobuy/pull/122#discussion_r132874662, @sarah-arrrgh shared some sweet links about typographic scales:

- http://spencermortensen.com/articles/typographic-scale/
- https://blog.madewithenvy.com/responsive-typographic-scales-in-css-b9f60431d1c4

so i'm keen to revise our typographic scale to use the "pentatonic scale" (doubles every fifth step) as described, plus

[2017-08-14 05:41] #28 closed, assigned to sarah-arrrgh

[2017-08-14 05:58] sarah-arrrgh commented on #28
End of day report:
The thing is did! Merged into master. Though when I ran the server from master, the bg image doesn't show up. @ahdinosaur  is this something to do with that large file thing?

TODO:
- [ ] write notes in wiki for things that might be useful for the rest of the project

[2017-08-14 06:16] ahdinosaur commented on #28
oh, yeah probably. can you try:

[code]

🙏

[2017-08-15 03:02] sarah-arrrgh opened #127 "take learnings from landing page ticket into wiki"
Landing page ticket #28

[2017-08-15 03:56] #115 closed, assigned to ahdinosaur, gregorykan

[2017-08-15 04:05] ahdinosaur opened #128 "research: deployment"
- continuous integration
- continuous deploment
- production
- staging
- capturing user bugs / flows
- user support requests, tracking, resolution

[2017-08-15 04:19] ahdinosaur opened #129 "role: groom our kanban board"

[2017-08-15 07:04] #33 closed, assigned to gregorykan

[2017-08-15 07:04] #35 closed, assigned to gregorykan

[2017-08-15 15:22] michael-smith-nz opened #132 "Empty Taskplan params"
Logging issue because I'm going down a rabbit hole.

Is it possible to have an empty `params` property on `taskPlan`?
This getter is currently breaking order creation.
Happy to fix, but needed to know the above question first.

https://github.com/root-systems/cobuy/blob/4f81f6a34b09d65f85611188677e6c14ea2e9713/tasks/getters/getEnhancedTaskPlans.js#L18

[2017-08-15 22:41] ahdinosaur commented on #132
yes! probably best if we coerce `undefined` and `null` into `{}`, but it's definitely possible to have an empty object for `params`.

yeah, the "order pre-req" tasks expect `params.contextAgentId`, so we know how to update the group profile and invite group members. but others tasks, say like the "setup your personal profile" task don't need this context agent.

[2017-08-16 02:58] ahdinosaur commented on #73
duplicate of https://github.com/root-systems/cobuy/issues/44

[2017-08-16 02:58] #73 closed, assigned to nobody

[2017-08-16 04:00] sarah-arrrgh commented on #32
End of day report:

- made a (temporary) button on the dashboard to create a create profile task plan. wired it all up magically.

TODO:

- [ ] fix git lfs thing with @ahdinosaur
- [ ] wire up view/edit profile component
- [ ] probably other things... @iainkirkpatrick ?

[2017-08-16 05:38] ahdinosaur opened #133 "role: respond to Facebook communications"

[2017-08-16 05:43] ahdinosaur opened #134 "role: respond to email communications"

[2017-08-16 05:44] ahdinosaur opened #135 "role: respond to Twitter, email, Facebook, communications"

[2017-08-16 05:47] ahdinosaur opened #136 "setup Root Systems blog on Medium"

[2017-08-16 05:49] ahdinosaur commented on #119
made roles:

-  role: groom our kanban board #129
-  role: respond to email communications #134
-  role: respond to Facebook communications #133
-  role: respond to Twitter communications #135
-  role: write content on blog, cross-post to Facebook + Twitter #107

one-off tasks

- setup Cobuy blog on Medium #136

@agentlewis what else do you think is missing?

[2017-08-16 05:52] ahdinosaur opened #137 "document Tapin deliverables -> rough roadmap"
@agentlewis when do you want to meet for this?

[2017-08-16 06:02] ahdinosaur commented on #129
groomed the kanban board! 🌟 if anything still feels unclear, please let me know.

as i also made this one-off grooming task into a persistent role, for which i am now the one carrying the role. 🎩

[2017-08-17 01:39] sarah-arrrgh commented on #32
TODO Thursday arvo:

- [x] set up props for CreateProfileTask Container/Component to go through to Profile component
- [ ] add more fields to the person profile
- [ ] convert button to hook

[2017-08-17 04:53] sarah-arrrgh commented on #32
End of day report:

- generic Profile component rendering as the component of a CreateProfileTask
- looked at adding more fields to the Profile for a Person, but decided in consultation with @ahdinosaur that it'd be good to have deliberate design on which fields make sense before developing
- investigated how to add a hook to `dogstack-agents` for creating the CreateProfileTask after a Person is c

[2017-08-17 09:56] iainkirkpatrick commented on #32
got a hook working tonight - will solicit feedback tomorrow / monday :)

[2017-08-17 10:54] michael-smith-nz commented on #132
Turns out the problem with the broken order creation getter was that `params` was not writing to the database because we were not encoding the object as a string before writing. Should be fixed in https://github.com/root-systems/cobuy/commit/abd1248ed7d8354e14f97c3758092ecd0560c0c8

[2017-08-17 13:53] michael-smith-nz opened #138 "taskWorker - onComplete is not a function"
![peek 2017-08-17 14-49](https://user-images.githubusercontent.com/1152577/29415656-a028b21c-835b-11e7-8c7f-b2f8fe7a70c9.gif)

Looking into now

[2017-08-17 14:58] michael-smith-nz commented on #138
Looks like this is just incomplete functionality. We're not passing an `onComplete` prop to the component. Will add a TODO comment so we don't stumble upon this again.

[2017-08-17 16:22] michael-smith-nz commented on #126
I think I'll work on this next since I ran into this with #138

[2017-08-22 02:59] sarah-arrrgh commented on #28
Screenshot of landing page:

<img width="938" alt="screen shot 2017-08-22 at 2 59 20 pm" src="https://user-images.githubusercontent.com/12442114/29546800-86b7d45a-874a-11e7-8c63-626b4d57ecb5.png">

[2017-08-22 03:23] #127 closed, assigned to sarah-arrrgh

[2017-08-22 03:24] sarah-arrrgh commented on #68
There's overlap between this ticket/issue and this wiki
https://github.com/root-systems/cobuy/wiki/Notable-notes

Maybe good to have one source of truth?

[2017-08-22 03:33] #32 closed, assigned to ahdinosaur, iainkirkpatrick, sarah-arrrgh

[2017-08-22 03:39] sarah-arrrgh commented on #41
depends on #126

[2017-08-22 03:56] sarah-arrrgh commented on #39
TODO:

- [x] wire up the component to a page with a route
- [x] on dash, add another active task `cast your intent for order x` after an order has started
- [x] figure out how complete the intent casting component is

[2017-08-22 04:04] sarah-arrrgh commented on #39
**Services and hooks**

Compared with FA, we didn't develop the backend, we just used API routes that Sebastian built for us to interact with the database.

On Cobuy, Dogstack uses Feathers to generate and manage our API.
Feathers - service. Service refers to a collection of API routes for doing CRUD of a topic*, so we end up having an agent service and a order service etc.
e.g. if we want to crea

[2017-08-22 04:11] ahdinosaur commented on #68
👍 to bring any notable notes from this issue to the wiki.

this issue is open as a task to _change_ our style theme to be based on the pentatonic scales described above.

[2017-08-23 03:01] sarah-arrrgh commented on #39
syntax for reduxForm / higher-order components:

[code]

[2017-08-23 03:02] sarah-arrrgh commented on #39
examples:

[code]

[2017-08-23 03:15] sarah-arrrgh commented on #39
Status report:

- hard-coded avocado offering into CastIntentTask component - need to update with actual supplier offerings once #36 is completed
- wire up handleSubmit
- how to put order name into locales file (currently "cast your intent for order x" hardcoded in)

[2017-08-23 23:22] ahdinosaur commented on #137
met with @agentlewis:

![img_20170823_182159](https://user-images.githubusercontent.com/719605/29642269-f5c0e7e8-88bb-11e7-8cd1-393c63094cb9.jpg)
![image uploaded from ios](https://user-images.githubusercontent.com/719605/29642260-eb955c0e-88bb-11e7-885f-2f0a3b77802c.jpg)

- agenda
  - what don't we need now
  - what do we need to add
  - what's the user flow for schools
    - how does it differ f

[2017-08-23 23:43] ahdinosaur opened #146 "add facets"
resource types must support ["faceted classification"](https://en.wikipedia.org/wiki/Faceted_classification)

for example: when you order a t-shirt, there are at least two "facets" to choose: color and size.

each facet has many values to choose from: a color can be black, white, red, green, blue, etc.

from [the `valuenetwork` core model](https://github.com/valnet/valuenetwork/blob/master/docs/co

[2017-08-23 23:47] ahdinosaur commented on #44
this is no longer a priority: https://github.com/root-systems/cobuy/issues/137#issuecomment-324489622

[2017-08-23 23:47] sarah-arrrgh commented on #39
Thursday things:

Dan and Mikey met yesterday to discuss the Tapin/Cobuy relationship, and what exactly Tapin needs Cobuy to do. This lead to a change in plan that affects this ticket, whereby we no longer want a user to order using min/desired/max, as schools will be buying in whole outers already (so outers won't need to be split && orders wont need to be tweaked).

TODO:

- [ ] unwire the curre

[2017-08-23 23:51] ahdinosaur commented on #49
re-opening, since requirements have changed: https://github.com/root-systems/cobuy/issues/137#issuecomment-324489622

we no longer need `mininum` and `maximum`, so can be a single number and/or slider.

while updating this component, we should update to match [data model for Product, Resource Type, and PriceSpecification](https://github.com/root-systems/cobuy/wiki/Models).

[2017-08-23 23:52] sarah-arrrgh commented on #39
@ahdinosaur
keen to get your opinion on where to go exactly with this ticket. wondering if it might be blocked by #36?

[2017-08-23 23:53] ahdinosaur commented on #39
hey @sarah-arrrgh, re-opening https://github.com/root-systems/cobuy/issues/49#issuecomment-324493824 for you. i think it makes sense to re-implement that component given the new requirements as a standalone task, then doing this task would be creating a list using this components given the available products.

[2017-08-23 23:54] ahdinosaur commented on #39
@sarah-arrrgh it shouldn't be. we can assume that the products have already been creating according to the documented [data model](https://github.com/root-systems/cobuy/wiki/Models), which you can mock using fake data for now.

[2017-08-24 02:53] sarah-arrrgh commented on #49
TODO:

- [x] sketch out new intent casting components - both list/row view, and whole page view
- [x] make new components in storybook
- [x] create mock data for product
- [x] create storiesOf for different product cases in storybook (refer tasks/stories/TaskWorker)

[2017-08-24 03:25] sarah-arrrgh opened #147 "research: intent casting"
component ticket https://github.com/root-systems/cobuy/issues/49

[2017-08-24 03:46] sarah-arrrgh commented on #147
![Screen Shot 2017-08-24 at 3.46.24 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/55e4dfaf1ffdc41100e13ad5/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b772b6456f76b7191a37bf1162d4f5d5b5ecc3c4a4356bcbbd671f3e57862804e0ee5833b5772c03c16aeb8d617b902be208b4784e4e98e1ad2f42f67b6d5db1063474f4dcbed5727a39841c95df648e44953a013356ae7702431.png)

[2017-08-24 03:51] ahdinosaur commented on #147
https://www.massdrop.com/

![screenshot_20170824_154853](https://user-images.githubusercontent.com/719605/29648764-0303d8fc-88e4-11e7-9471-2fb83725d7ca.png)
![screenshot_20170824_155041](https://user-images.githubusercontent.com/719605/29648770-08ab988a-88e4-11e7-85bf-8fbceef00310.png)

ha nice

[2017-08-24 03:54] sarah-arrrgh commented on #147
![Screen Shot 2017-08-24 at 3.53.34 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/55e4dfaf1ffdc41100e13ad5/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b772b6456f76b7191a37bf117284f5c5b5ecc3c4a4356bcbbd671f3e57862804e0ee5833b5772c03c16aeb8d617b902be208b4784e4e98e1ad2f42f67b6d5db1063474f4dcbed5727a39841c95df648e44953ac163660ee752431.png)

https://www.amaz

[2017-08-24 04:00] sarah-arrrgh commented on #147
![Screen Shot 2017-08-24 at 3.58.41 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/55e4dfaf1ffdc41100e13ad5/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b772b6456f76b7191a37bf117234f5b5e5ecc3c4a4356bcbbd671f3e57862804e0ee5833b5772c03c16aeb8d617b902be208b4784e4e98e1ad2f42f67b6d5db1063474f4dcbed5727a29f41c95df648e44952a5103160ef702431.png)

[2017-08-24 04:03] sarah-arrrgh commented on #147
![Screen Shot 2017-08-24 at 4.02.40 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/55e4dfaf1ffdc41100e13ad5/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b772b6456f76b7191a37cf112294f5b5f5ecc3c4a4356bcbbd671f3e57862804e0ee5833b5772c03c16aeb8d617b902be208b4784e4e98e1ad2f42f67b6d5db1063474f4dcbed5727a39841c95df648e44952a7143063ee712431.png)

[2017-08-24 04:05] sarah-arrrgh commented on #147
![Screen Shot 2017-08-24 at 4.04.54 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/55e4dfaf1ffdc41100e13ad5/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b772b6456f76b7191a37cf1122f4f5a5b5ecc3c4a4356bcbbd671f3e57862804e0ee5833b5772c03c16aeb8d617b902be208b4784e4e98e1ad2f42f67b6d5db1063474f4dcbed5727a29f41c95df648e44952a113336ae0702431.png)

http://www.wareh

[2017-08-24 04:10] sarah-arrrgh commented on #147
![Screen Shot 2017-08-24 at 4.05.28 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/55e4dfaf1ffdc41100e13ad5/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b772b6456f76b7191a37cf1122e4f5d575ecc3c4a4356bcbbd671f3e57862804e0ee5833b5772c03c16aeb8d617b902be208b4784e4e98e1ad2f42f67b6d5db1063474f4dcbed5727a39841c95df648e44952a1103e66ee7e2431.png)

https://www.offi

[2017-08-24 04:13] sarah-arrrgh commented on #49
research ticket #147

[2017-08-24 04:40] sarah-arrrgh commented on #39
dependent on #49 to continue with this

[2017-08-24 04:44] sarah-arrrgh commented on #147
![screen shot 2017-08-24 at 4 43 20 pm](https://user-images.githubusercontent.com/12442114/29649890-637d7ccc-88eb-11e7-9d26-02ea13115d88.png)

[2017-08-24 05:17] sarah-arrrgh commented on #147
massdrop flow

<img width="1119" alt="screen shot 2017-08-24 at 5 04 42 pm" src="https://user-images.githubusercontent.com/12442114/29650324-7f9c059c-88ee-11e7-915b-cf6b766a77ea.png">

<img width="1118" alt="screen shot 2017-08-24 at 5 05 00 pm" src="https://user-images.githubusercontent.com/12442114/29650326-8382d8c0-88ee-11e7-8340-fd8b6f9214fd.png">

<img width="1112" alt="screen shot 2017-08-24

[2017-08-24 05:17] sarah-arrrgh commented on #147
massdrop all products view

<img width="1117" alt="screen shot 2017-08-24 at 5 08 00 pm" src="https://user-images.githubusercontent.com/12442114/29650387-da238a08-88ee-11e7-8785-00ef25e60425.png">

[2017-08-25 02:25] ahdinosaur opened #148 "upgrade member invites component to be group management"
at the moment we're only using this component to invite members during the initial setup process. i think it would be good to re-use this component once your group has been setup and you want to manage your group.

this ticket is to generalize the component to not be specific to member invites.

research: https://github.com/root-systems/cobuy/issues/93

[2017-08-25 02:31] ahdinosaur opened #149 "better role-based access control"
from https://github.com/root-systems/cobuy/issues/137#issuecomment-324489622

related to https://github.com/root-systems/cobuy/issues/148

research: https://github.com/root-systems/cobuy/issues/93

we need a way to provide at least three roles, each with various permissions:

permissions:

- can invite users
- can view reports
- can start orders
- can participate in orders

roles:

- principal: ca

[2017-08-25 03:16] ahdinosaur opened #150 "groups of groups"
from https://github.com/root-systems/cobuy/issues/137#issuecomment-324489622,

the buying group for Tapin will be a group of schools, each school having at least a principal, head of procurement, and reporter.

this ticket is to update the "group management component(s)" to support "groups of groups". each group  is fractal and may have it's own profile and relationships. each child group has a "c

[2017-08-25 03:16] ahdinosaur commented on #108
necessary for schools: https://github.com/root-systems/cobuy/issues/137#issuecomment-324489622

[2017-08-25 03:21] ahdinosaur opened #151 "generate purchase orders pdf from order plan(s)"
an OrderPlan is a commitment by a consumer group to purchase goods from a supplier. we can use this to generate a html / pdf purchase request that the consumer group can email to the supplier.

research: https://github.com/root-systems/cobuy/issues/98

from https://github.com/root-systems/cobuy/issues/137#issuecomment-324489622, we will need to generate an invoice for every sub-commitment by each

[2017-08-25 03:33] ahdinosaur opened #152 "dynamic structured data in profile"
this way, users can update a person or group profile to contain anything they wish:

- contact details
  - email addresses
  - phone numbers
- postal addresses
- website links

without needing us to develop special support for these types of profile information.

~this ticket is to update the Profile component to use a wysiwyg editor, which will save the "description" property as either html or ma

[2017-08-25 03:35] ahdinosaur opened #153 "when i am waiting to receive an order shipment, i can see orders "pending shipment""

[2017-08-25 03:36] ahdinosaur opened #154 "when i receive an order shipment, i can "stock take" what i have received"

[2017-08-25 03:39] ahdinosaur opened #155 "allow profiles to specify additional navigation links"
schools will want a link to their corresponding Loomio link in the navigation. this (and using a common login provider like Google) is the easiest way to achieve "interoperability" between apps like Loomio and Cobuy. (https://github.com/root-systems/cobuy/issues/137#issuecomment-324489622)

we might do this by creating NavigationLink objects or something (either as standalone related database obje

[2017-08-25 03:40] ahdinosaur commented on #137
have updated and added new tickets to our backlog based on this new roadmap. closing!

[2017-08-25 03:40] #137 closed, assigned to ahdinosaur, danalexilewis

[2017-08-25 06:12] danalexilewis commented on #152
Could we use a similar system to what we were doing for follow the sun where people create fields?

Going this way will we be able to extract info like address for invoices?

[2017-08-25 08:29] ahdinosaur commented on #152
good point. was hoping this would reduce scope for MVP.

yes. we probably should give this some thought.

[2017-08-25 08:43] danalexilewis commented on #152
++ for reducing scope -- for adding significant technical debt ;) if this is cheap to change later maybe a wysiwyg - so long as the wysiwyg is a quick implantation.

Good thinking!

[2017-08-25 08:49] ahdinosaur commented on #152
my thoughts on a structured profile data approach:

- data has a "type" / "format"
  - phone number
  - email address
  - websites
  - postal address
- most data has a "context" / "label"
  - work
  - home

then while creating an invoice, you would choose which address and phone number is appropriate.

[2017-08-25 08:52] ahdinosaur commented on #152
also this came up in https://github.com/root-systems/cobuy/pull/140,

[2017-08-27 22:35] #38 closed, assigned to iainkirkpatrick

[2017-08-27 23:08] ahdinosaur opened #156 "composable resource(Type)s"
when i create or update a resource (type), the resource (type) i am describing might be composed of sub resource (types).

for example: i want to buy a carton of eggs. the resource "carton of eggs" contains 1x "carton" and 12x "egg" resources.

![cobuy-offerings](https://user-images.githubusercontent.com/719605/28099994-b1542242-6713-11e7-8eee-31b2364d256d.png)

![screenshot_20170824_175755](https

[2017-08-27 23:13] ahdinosaur commented on #156
also, i'm still going to explore composable resources, separate from Cobuy, in [`resourceful`](https://github.com/ahdinosaur/resourceful).

[2017-08-27 23:41] #114 closed, assigned to ahdinosaur

[2017-08-28 00:15] ahdinosaur opened #157 "the one task to rule them all: order!"
had a nice chat with @iainkirkpatrick,

would be ideal if the entire app flow was a single task: "do an order" (or if your first order "do your first order").

we would need:

- sub-tasks can be ordered: can only move on when previous task is complete

[2017-08-28 00:18] ahdinosaur opened #158 "dashboard: potential tasks, active tasks, task history"
keen to clarify the task approach through our dashboard: any action on the app is done through a task, the dashboard is how you create a new task (start the process of doing something), then see your active tasks, and a historical record of tasks you've completed.

this ticket it to create a form to create a new task from a list of potential tasks at the top of the dashboard. then also a list of t

[2017-08-28 02:43] ahdinosaur opened #159 "token / capability service"
we will need a few [token](https://en.wikipedia.org/wiki/Security_token) / [capability](https://en.wikipedia.org/wiki/Capability-based_security) features in Cobuy:

- [group invites](https://github.com/root-systems/cobuy/issues/93)
- [reset password](https://github.com/root-systems/cobuy/issues/58)
- secure download link

these are the services i've made so far with Mischa in Minded, but for Cobuy

[2017-08-28 02:47] ahdinosaur commented on #159
forgot to mention that json web tokens are bigly supported by [`feathers-authentication`](https://docs.feathersjs.com/api/authentication/server.html) and related modules. so the tokens are easy, the question is whether we want to provide a data wrapper around the tokens so we can provide a better user experience.

i notice Feathers has a new [authentication management system](https://docs.feathers

[2017-08-28 02:50] ahdinosaur commented on #159
https://blog.feathersjs.com/how-to-setup-email-verification-in-feathersjs-72ce9882e744

[2017-08-28 03:36] iainkirkpatrick commented on #41
todo:

- [x] move hook that creates group Agent to be fired when user registers (i.e. a hook on authentication.register from `dogstack-agents`)
  - [x] and same for supplier Agent when that code is merged in (#142)
- [x] TaskPlan created on registration for the user to 'start their first order' - this means the first order for this group is created (see [this issue](https://github.com/root-systems

[2017-08-28 03:42] iainkirkpatrick commented on #41
@ahdinosaur should have asked before you left - what does it mean for an 'order' then to be ready? i.e. the pre-reqs are about having a group and a supplier for an order, what else does an order need?

as i see it:

- a supplier selected as the supplier for this order (however the UI works for selecting)
- is that it? :)

[2017-08-28 07:22] ahdinosaur commented on #41
- a consumer (group) selected as the consumer for this order.
- a facilitator for whoever is "facilitating" (admin of) the order (the current user).

[2017-08-28 23:17] ahdinosaur opened #160 "sprint 6"
- group invites -> order start flow: send welcome emails, invitation token, assign tasks, etc
- product list -> intent casting flow: name, description, image, price specs, facets, etc

gets us close to being able to complete an order at the end of September before some of the team moves.

[2017-08-28 23:20] ahdinosaur opened #161 "email invite group members"
depends on https://github.com/root-systems/cobuy/issues/159

email has basic content to say "hey, thanks for being a human on Cobuy!" with a token to create an account / login with existing account to be added to the group.

[2017-08-28 23:24] ahdinosaur commented on #146
noticing from @sarah-arrrgh, we will need product prices to be able to depend on facets.

[2017-08-28 23:25] sarah-arrrgh commented on #147
check out shopify sites for ideas on how to display differently priced facets

#146 has info about facets

[2017-08-28 23:28] ahdinosaur opened #162 "create consumer / supplier relationships"
since consumers and suppliers are both agents of type group, we need a way to find all the suppliers for a given consumer (group).

[2017-08-28 23:31] #134 closed, assigned to nobody

[2017-08-28 23:32] ahdinosaur commented on #134
replaced with https://github.com/root-systems/cobuy/issues/135

[2017-08-28 23:32] ahdinosaur commented on #133
replaced with https://github.com/root-systems/cobuy/issues/135

[2017-08-28 23:32] #133 closed, assigned to michael-smith-nz

[2017-08-28 23:33] ahdinosaur opened #163 "deliver the video"
[WHY video](https://vimeo.com/220415126)

[HOW video](https://vimeo.com/220423038)

[2017-08-28 23:47] ahdinosaur commented on #107
ideas:

- what does it mean to join a tech co-op? Juliet
- building a popular framework vs reinventing all the wheels: dogstack vs catstack
- financial model: follow-up blog post
- how we work: cadences, rhythms
- initial Cobuy beta deliverable for Tapin

[2017-08-29 02:36] sarah-arrrgh commented on #147
**[amazon.com](https://www.amazon.com/AmazonBasics-Microfiber-Sheet-Set-Queen/dp/B06X9SCBKN/ref=sr_1_1?s=bedbath&srs=10112675011&ie=UTF8&qid=1503977406&sr=1-1&th=1)**

![Screen Shot 2017-08-29 at 2.34.27 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/55e4dfaf1ffdc41100e13ad5/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b772b6456fa6b7191a37af1112f4f5d585ec

[2017-08-29 03:08] sarah-arrrgh commented on #147
**[walmart.com](https://www.walmart.com/ip/Better-Homes-and-Gardens-400-Thread-Count-Solid-Egyptian-Cotton-True-Grip-Bedding-Sheet-Set/49369391)**

<img width="1324" alt="screen shot 2017-08-29 at 3 03 11 pm" src="https://user-images.githubusercontent.com/12442114/29802732-4c4f2288-8ccb-11e7-90e9-dda3a6006b55.png">

<img width="1330" alt="screen shot 2017-08-29 at 3 05 37 pm" src="https://user-ima

[2017-08-29 03:18] sarah-arrrgh commented on #147
**[etsy.com](https://www.etsy.com/nz/listing/458968118/save-the-bees-shirt-bee-shirt-bees-tee?ga_order=most_relevant&ga_search_type=all&ga_view_type=gallery&ga_search_query=&ref=sc_gallery_2&plkey=6d26fd8b33e21a236676e89d07b388f0ba0a422e:458968118)**

<img width="1495" alt="screen shot 2017-08-29 at 3 10 44 pm" src="https://user-images.githubusercontent.com/12442114/29802860-4df92cea-8ccc-11e7-931

[2017-08-29 03:21] Julietbc opened #164 "create admin relationship on group creation"
When a group is being created for the first time the currently logged in user must be added as an admin relationship

[2017-08-29 03:39] sarah-arrrgh commented on #147
@**considerations**

GENERAL:

- [ ] how do we determine when a product has many facets VS when it becomes its own product?

ALL PRODUCTS VIEW:

- [ ] what price is shown? lowest? most popular? price range min-max?
- [ ] how do we show there are many facets available?
- [ ] how do we show which price is for which facet combo?

SINGLE PRODUCT VIEW:

- [ ] what facet combo / price is visible when fi

[2017-08-29 03:47] sarah-arrrgh commented on #147
SARAH'S THOUGHTS:

- I like the way Amazon shows the most common facet combo pricing, and indicates there are more options (and thus differing pricing) available
- If most common facet combo tricky to know, I like the price range option like Walmart has
- I like the way etsy allows you to see different pricing options when selecting each facet option - unsure how this could work when 2+ facets eff

[2017-08-29 04:47] ahdinosaur opened #165 "improve integration with `cobuy-config` secrets"
recently @iainkirkpatrick updated [`cobuy-config`](https://github.com/enspiral-pods/cobuy-config), which is our shared secrets for Cobuy development and production (so needs to be a private repo and is therefore in our shared pod org), but at the moment all developers need to update manually to use this new updated config.

this ticket is to add some better integration so it's easy or automatic to

[2017-08-29 05:14] sarah-arrrgh commented on #135
- [ ] Friday 25 August - Cobuy email
- [x] Tuesday 29 August - Cobuy facebook message

[2017-08-29 05:23] ahdinosaur commented on #147
@sarah-arrrgh great research and considerations!

i notice that for Etsy, where separate facets (shape of earring) are more often separate products, they don't have pictures per facet. where for Amazon, which uses facets more, they have pictures per facet.

i'm keen for us to use facets as much as makes sense. if it truly feels like a separate product, then we should do so, but if it can be done a

[2017-08-29 05:28] ahdinosaur opened #166 "app hook for current agent"
at the moment `feathers-authentication` provides the current credential as `hook.params.credential`, but more often we want the associated agent, profile, and/or relationships.

this ticket is to create a [app hook](https://docs.feathersjs.com/api/hooks.html#application-hooks) that fetches the current agent and adds it to `hook.params.agent`.

potentially we also add hooks for profile and relation

[2017-08-29 05:35] ahdinosaur commented on #162
had a chat with @Julietbc about this. probably makes sense to only create a single `supplier` relationship from the consumer (buying group) agent to the supplier agent.

to be specific:

[code]

then a query for all suppliers for a given buying group is:

[code]

[2017-08-29 05:47] sarah-arrrgh commented on #136
TODO:

- [x] setup RS blog on medium
- [x] follow relevant people on Medium
- [x] add link to blog in RS handbook

https://medium.com/@rootsystems

[2017-08-29 07:29] ahdinosaur commented on #66
life as a blind software developer:

https://www.vincit.fi/en/blog/software-development-450-words-per-minute/

[2017-08-29 11:56] michael-smith-nz commented on #135
In the future, it might be best to just post the date and platform. These issues are public and some people might not want their emails/messages open like this.

[2017-08-29 11:57] michael-smith-nz commented on #135
From my understanding @iainkirkpatrick said he would take this issue on in sprint planning. Let me know if I got that wrong, happy to help.

[2017-08-29 22:07] sarah-arrrgh commented on #135
Ah good call @NotThatSmith , have deleted the images and left the checkboxes!

[2017-08-29 22:37] #126 closed, assigned to michael-smith-nz

[2017-08-30 01:34] #118 closed, assigned to michael-smith-nz

[2017-08-30 01:34] #132 closed, assigned to nobody

[2017-08-30 03:33] sarah-arrrgh commented on #136
PR for adding link to blog in RS handbook:
https://github.com/root-systems/handbook/pull/103

[2017-09-03 23:20] danalexilewis commented on #147
request for sketches as a visual iteration of the visual research.

I think they can explore responsiveness and user actions (clicks, drags etc)

Eg quantity as button vs slider

[2017-09-04 15:24] michael-smith-nz commented on #166
@ahdinosaur is this what you were thinking? https://github.com/root-systems/dogstack-agents/pull/7
Wasn't too sure if you wanted it in `dogstack-agents` or not.

If that's on the right track, I'll also add a relationships hook

[2017-09-04 19:11] ahdinosaur commented on #166
@NotThatSmith yeah, awesome! left some comments in the pull request.

[2017-09-05 03:17] ahdinosaur opened #170 "navbar doesn't go away"
as a normal person, when i click a button on the navbar, i expect the navbar to get out of the way and let me live my life.

[2017-09-05 03:20] ahdinosaur opened #171 "Cobuy font doesn't work on Linux"
no idea why, it seems to load from the network.

![screenshot_20170905_151953](https://user-images.githubusercontent.com/719605/30043789-bf0c828e-924d-11e7-95fc-c62e813697a7.png)

affects me and @Julietbc, but probably not a priority.

[2017-09-05 03:22] ahdinosaur opened #172 "server-side authorizations"
we haven't even started this. :unamused:

TODO @ahdinosaur: update this ticket with details about how to "harden" (setup authorization checks) on back-end.

- [ ] `dogstack-agents`
  - [ ] agents
  - [ ] profiles
  - [ ] credentials
  - [ ] relationships
- [ ] orders
- [ ] products
- [ ] resourceTypes
- [ ] priceSpecs
- [ ] intents

depends on #166

[2017-09-05 03:25] ahdinosaur commented on #148
broken by #142, i think to do with the supplier relationship being created when the order is created. but needs work anyways.

[2017-09-05 03:47] #34 closed, assigned to iainkirkpatrick, Julietbc

[2017-09-05 03:57] ahdinosaur commented on #148
or maybe works, what

[2017-09-05 12:49] #119 closed, assigned to ahdinosaur, danalexilewis

[2017-09-06 02:09] sarah-arrrgh commented on #49
![20170906_140045](https://user-images.githubusercontent.com/12442114/30091140-0ecc1e1a-930c-11e7-8895-c39836c57418.jpg)

[2017-09-06 02:10] sarah-arrrgh commented on #49
TODO:

- [x] make mock product data
- [x] scaffold product list component
- [x] scaffold single product component
- [x] create sub-component for selecting facets in single product view
- [x] create sub-component for price points in single product view
- [x] make it all look pretty-ish

[2017-09-07 03:36] Julietbc opened #175 "update product editor components/s"
EDIT by Mikey:

after https://github.com/root-systems/cobuy/pull/141, and removing composable resources (where i put most of my energy), it leaves _much_ to be desired.

- [x] edit name
- [x] edit description
- [x] edit image
- [x] add price spec
- [x] remove price spec
- [x] edit price spec

will be good to sync the product editor component with the product intent casting component. /cc @sarah-ar

[2017-09-07 03:59] #164 closed, assigned to Julietbc

[2017-09-07 04:31] ahdinosaur commented on #159
looking into this meow. the [`feathers-authentication-management`](https://github.com/feathersjs/feathers-authentication-management) module is nice, but it doesn't match _exactly_ with the register -> invite members -> start order flow i had in mind.

what it does provide:

- a way to check unique email, cell phone number, etc on each credential
- each credential has a boolean `isVerified` (whethe

[2017-09-07 05:29] sarah-arrrgh commented on #49
Question:

- What does the data model look like for facets?

[2017-09-07 06:12] ahdinosaur commented on #146
data model draft:

### ResourceTypeFacet

- `resourceTypeId` (integer references `resourceTypes.id`)
- `name` (string)
- `description` (text)

### ResourceTypeFacetValue

- `resourceTypeFacetId` (integer referecnes `resourceTypeFacets.id`)
- `name` (string)
- `description` (text)
- `image` (text)

---

example resource type with facets:

(as provided by a getter, so `facets` and `values` contain r

[2017-09-07 06:13] ahdinosaur commented on #49
@sarah-arrrgh here's a draft attempt: https://github.com/root-systems/cobuy/issues/146#issuecomment-327697515. what do you think?

[2017-09-07 06:24] sarah-arrrgh commented on #49
End of day/week report:

- scaffold product list item in storybook
- wired up single view product in storybook
- wireframed single view product on whiteboard (including facet and price point components)

[2017-09-11 02:38] sarah-arrrgh commented on #49
![20170911_143556](https://user-images.githubusercontent.com/12442114/30256433-cdfe6eb4-96fe-11e7-9d4f-442ec161cb76.jpg)

[2017-09-11 03:00] ahdinosaur opened #178 "component: order summary"
this component displays information when an order is closed.

should include list of "commitments" given aggregate of intents.

TODO

- [ ] create sketch with component architecture / box model
- [ ] storybook each major component with various props

related to: #43, #40

[2017-09-11 03:53] danalexilewis commented on #49
@sarah-arrrgh to me the view on the left looks like a mobile view and the right the view on desktop.

The view on the rleft reminds me of a card and I can imagine a list of cards (mobile) / grid of cards (desktop) to show items with a visually rich expierience. Is this what you were thinking?

[2017-09-11 22:53] #160 closed, assigned to nobody

[2017-09-11 22:58] ahdinosaur opened #179 "sprint 7"
- [ ] admin setup flow:
  - [ ] group invites
    - [ ] invitation token
- [ ] order start flow:
  - [ ] send welcome emails
  - [ ] assign tasks
  - [ ] intent casting flow:
    - [ ] name, description, image
    - [ ] price specs
- [ ] order end flow:
  - [ ] summary

gets us close to being able to complete an order at the end of September before some of the team moves.

[2017-09-12 01:27] sarah-arrrgh commented on #49
@agentlewis the view on the left is the **product list view** - yes a grid of cards like you are imagining. and the view on the right is **single product view**, so has more info on the product including price points and facets.

[2017-09-12 05:42] danalexilewis commented on #49
@sarah-arrrgh are you approaching this mobile first or skipping mobile?

[2017-09-12 05:57] danalexilewis commented on #68
Can someone confirm we are building all components mobile first?

[2017-09-12 05:59] danalexilewis commented on #36
@Julietbc is this complete?

[2017-09-12 06:01] danalexilewis commented on #136
@sarah-arrrgh I have merged this. I am not sure why it wasn't. A change may be to tag someone in as an assigned reviewer.

[2017-09-12 06:01] #136 closed, assigned to sarah-arrrgh

[2017-09-13 05:52] sarah-arrrgh commented on #39
End of day report

- finished intent casting components in storybook, including rendering price point sub-component
- fixed castIntent hook after rebase

TODO

- [x] wire up single product view component into intent casting page
  - task recipe specifies which component renders (change container or tell container to render different component)

Blocks:

- need Juliet's branch - product list creati

[2017-09-13 10:05] #36 closed, assigned to Julietbc

[2017-09-14 02:15] #68 closed, assigned to ahdinosaur

[2017-09-14 09:42] michael-smith-nz commented on #136
I see we've created a new medium user rather than a publication, any reason for this?
I personally think creating a publication would be the best option as it would get the most reach. Individuals can publish stories under their own names and reach their personal followers and also publish it to the RS publication and reach RS followers.
The only downside would be that currently you cannot publish

[2017-09-18 03:39] sarah-arrrgh commented on #163
Email convo re music for Cobuy video:

![screen shot 2017-09-18 at 3 39 51 pm](https://user-images.githubusercontent.com/12442114/30528494-a2891732-9c87-11e7-920d-2b674c615b0a.png)

![screen shot 2017-09-18 at 3 39 42 pm](https://user-images.githubusercontent.com/12442114/30528495-a43cc894-9c87-11e7-8e2e-24012ac83efe.png)

[2017-09-18 03:50] sarah-arrrgh commented on #163
@agentlewis , Iain and I spoke briefly with Beka a few weeks ago about this. She has her head in other spaces now (she was doing work for Limber Office when we saw her), and she said Lu is overseas and hard to get hold of.

She suggested the best way to get in touch with Lu would be for you to continue being the main point of contact, as she was more likely to respond to you (she hasn't replied to

[2017-09-18 04:00] sarah-arrrgh commented on #163
**TODO to get this delivered:**

- [ ] record backing tracks for each video
- [ ] record screen grabs of actual app when it's made to put on to mobile + tablet views in video

[2017-09-18 05:59] sarah-arrrgh commented on #49
End of day report:

- styled product list view
- styled single product view
- changed currency display from `$` to `NZD` / `{currency}`

TODO:

- [x] check out the rest of Mikey's comments in the PR
- [x] screen shots of components in issue

[2017-09-18 19:22] danalexilewis commented on #163
@sarah-arrrgh thanks for pushing the ball forward on this. In my conversation with Rupert and Charley a few weeks ago I got the sense from them that a good approach for this kind of creative project is to have lead/backstop - eg like lu for the videos.

Charley indicated he would be interested in this role. I think we can then rely on this role to be the creative director and we fall back into pro

[2017-09-18 23:16] sarah-arrrgh commented on #49
Product list view:
![screen shot 2017-09-19 at 11 14 48 am](https://user-images.githubusercontent.com/12442114/30568908-e85eda40-9d2b-11e7-82cf-00d36fbbdd11.png)

Single product view:
![screen shot 2017-09-19 at 11 15 11 am](https://user-images.githubusercontent.com/12442114/30568912-eb168012-9d2b-11e7-9421-3d5e7cb758fc.png)

[2017-09-18 23:35] iainkirkpatrick opened #181 "starting an order, i want to select which products from supplier are available"
i.e. i want to start an order for olive oil, not the entire range of the supplier's inventory

[2017-09-19 04:09] #138 closed, assigned to michael-smith-nz

[2017-09-19 04:26] #49 closed, assigned to sarah-arrrgh

[2017-09-19 04:31] sarah-arrrgh commented on #41
Order setup info:

- Date order closes
- Admin
- Price lists
- Order frequency
- Packers
- Delivery date/time
- Delivery location
- Delivery received by
- Stocktake person
- Packing date/time
- Collect by
- Payment due date
- Payment info (account details + refs)
- Accounts person
- Freight costs
- Other costs
- Provide packaging?
- Penalty if late collection?
- Frozen/chilled?
- Extra notes?

[2017-09-19 05:34] iainkirkpatrick commented on #41
thought: perhaps some of the above are 'optional' parameters of an order? perhaps not?

[2017-09-19 17:05] gmarcos87 opened #182 "Error running npm run dev (on fresh install)"
Hello everyone. I'm trying to install and run Cobuy. I followed the steps of the readme and I get the following error:
[code]

My idea is to see how it works and if it can be adapted to a local food production cooperative.
Thank you!

[2017-09-19 21:03] danalexilewis commented on #182
@gmarcos87 so great your interested in our software! I'll leave it to others to help you get up and running. I wear the product owner hat and I'd be really interested in exploring your software needs for a production coop.

We have always planned to build "cosupply" in the future, but strategically have chosen to start with buying.

Do you have any documented needs analysis/pain points you can sha

[2017-09-19 23:33] ahdinosaur commented on #182
hey @gmarcos87, nice to see you here!

the error "Error: You must provide a 'secret' in your authentication configuration" is caused by not providing secrets in your configuration. at the moment, in development Cobuy expects you to have the following in `config/development.js`:

[code]

at the moment we are using https://github.com/enspiral-pods/cobuy-config, which is a private repo for us Cobuy d

[2017-09-19 23:40] sarah-arrrgh commented on #105
PR https://github.com/root-systems/feathers-action-react/pull/4

[2017-09-20 02:34] sarah-arrrgh commented on #101
<img width="984" alt="screen shot 2017-09-20 at 2 25 27 pm" src="https://user-images.githubusercontent.com/12442114/30624101-a158aec0-9e0f-11e7-9022-97018b8a17d1.png">

[2017-09-20 02:36] sarah-arrrgh commented on #101
<img width="1270" alt="screen shot 2017-09-20 at 2 35 36 pm" src="https://user-images.githubusercontent.com/12442114/30624355-00945e56-9e11-11e7-993f-ea37b4aa1763.png">

[2017-09-20 03:50] sarah-arrrgh commented on #40
maybe we don't want this for tapin?

e.g. here is the order summary - we're ordering 20 crayons total
if admin decides to add another 1, to whom does the extra go to?

[2017-09-20 03:53] #166 closed, assigned to michael-smith-nz

[2017-09-20 05:04] ahdinosaur commented on #152
maybe https://github.com/sstur/react-rte to edit and save markdown?

[2017-09-20 23:05] #170 closed, assigned to nobody

[2017-09-20 23:15] gmarcos87 commented on #182
@agentlewis A little background here: I'm from a rural town in Argentina. There are several experiences in the community shopping area and also in rural and urban production organizations. As a "client" of one of them I was asked if I could help them to generate an order management system. They generate weekly boxes and offer them via whatsapp (it is the technology that tinene closer). Many times

[2017-09-20 23:44] mischa-s commented on #159
Instead of type we could have service and method (for example: agents, patch). This way we wont have to hardcode special token types and instead the logic is implemented as before hooks on the token service that is added within the corresponding authorised service.

In general, we want to have as much authorisation logic (what are you able to do) in the token creation before hooks, so the token is

[2017-09-20 23:59] mischa-s commented on #159
- should `service` and `method` be part of params?
- should we add a `expiresAt` field? then the json tokens never expire and we check expiration in the database
- should we have a related table of `tokenConsumes`, which have fields `id`, `tokenId`, and `consumedAt`
  - this way different services can use the related consumes as they wish, some might only want a token to be consumed once (invite n

[2017-09-21 02:08] mischa-s commented on #159
Instead of `expiresAt` there should be a `createdAt` field and then if types of tokens need to be time limited the service can compare the allowed time to the time elapsed since the token was created

[2017-09-22 01:25] #105 closed, assigned to ahdinosaur, sarah-arrrgh

[2017-09-22 01:31] ahdinosaur commented on #159
data model (with help from @mischa-s, since we are exploring this pattern in parallel on a separate contract project)

## tokens

- id (increments)
- agentId (integer references agents.id)
- service (string)
- method (enum: find, get, create, update, patch, remove)
- params (json)
- jwt (text)
- createdAt (timestamp defaultTo(knex.fn.now())

## tokenConsumes

- id (increments)
- tokenId (integer r

[2017-09-25 20:58] ahdinosaur opened #185 "deploy Tapin staging server"
cobuy-staging.tapin.nz

[2017-09-25 20:59] ahdinosaur opened #186 "prepare for Tapin demo on Oct 25"
- public on 25th
- to Meghan is 27th

[2017-09-25 21:17] sarah-arrrgh commented on #49
@agentlewis hmmm haven't been doing this mobile first

[2017-09-25 21:53] #179 closed, assigned to nobody

[2017-09-25 21:54] ahdinosaur opened #187 "sprint 8"
- [ ] admin setup flow:
  - [ ] group invites
    - [ ] invitation token
- [ ] order start flow:
  - [ ] send welcome emails
  - [ ] assign tasks
  - [ ] intent casting flow:
    - [ ] name, description, image
    - [ ] price specs
- [ ] order end flow:
  - [ ] summary
- [ ] deployment for demo

[2017-09-25 22:02] sarah-arrrgh commented on #146
can be split up into two tickets

[2017-09-25 22:04] sarah-arrrgh commented on #161
blocked by #159 and #41

[2017-09-26 01:29] ahdinosaur opened #189 "add documentation for `standard`"
continuation from #188, i reckon it'd be sweet if we all used [`standard` style](http://standardjs.com) more in our code. it's built-in to dogstack as `dog lint`, but i'm not sure how many of us are using that.

keen for better documentation on:

- how to install standard style linters in major text editors:
  - atom
  - sublime
  - vim
- how to add standard linter as a git pre-commit hook
- ???

[2017-09-26 01:57] danalexilewis commented on #49
This is going to come up very quickly as people will say "does it work on mobile". My personal opinion is that it is easier and more effective to develop from mobile to desktop rather then the other way round. Nvm to much - functionality is more important.

I'd suggest you break out a ticket to mobilise what you have done so far. We don't need it for the 27th but will before a beta test.

[2017-09-26 01:58] danalexilewis commented on #49
@sarah-arrrgh see above

[2017-09-26 02:26] sarah-arrrgh opened #190 "add facets to intent casting component"
related to
#146
and
#39

[2017-09-26 02:30] sarah-arrrgh commented on #190
**TODO:**

- [x] mock data for facets
- [x] add productFacet to singleViewProduct component for each facet
- [x] ensure facet data is submitted properly

[2017-09-26 02:32] danalexilewis commented on #41
@iainkirkpatrick can you add some todos in here like you did before? At the moment it is unclear what remains on the ticket.

[2017-09-26 02:33] danalexilewis commented on #41
Omg doing github on a phone sucks :(

[2017-09-26 07:28] michael-smith-nz commented on #178
Questions to work out:

- Need a supplier summary(no individual order info), group summary and individuals summary as well as a whole groups?
- How does an order close?
- What does the data shape look like? List of products and amount with at least one ordered. Total price. Unit cost. Similar to invoice, total price, etc.
- How does a user see this summary? Most things at the moment are task based

[2017-09-26 09:24] michael-smith-nz opened #191 "Tax/GST"
Are we needing to include tax/GST information in our orders?
For Tapin, I can imagine users needing to know tax exclusive and inclusive totals.

We could add the ability when creating a supplier to have the default items to be tax exclusive or inclusive, much like Xero do it. Then show this on the order summary.
![screenshot from 2017-09-26 10-21-18](https://user-images.githubusercontent.com/11525

[2017-09-26 09:45] danalexilewis commented on #191
@NotThatSmith great point to raise.

My hunch would be this would be more consumer specific then supplier specific.

Ie a given agent/group/order could have the gst set to be included or excluded.

For example a business purchasing goods is more interested in the exclusive of gst cost while a food consumer is interested in the inclusive of gst cost.

I think people should be able to toggle it for

[2017-09-26 11:37] michael-smith-nz commented on #178
Data needed for supplier summary:

- Supplier details
- Order date completed
- order items
  - unit price
  - quantity
- total price

[2017-10-03 04:34] #159 closed, assigned to ahdinosaur

[2017-10-03 04:37] #190 closed, assigned to ahdinosaur, sarah-arrrgh

[2017-10-03 04:38] #41 closed, assigned to iainkirkpatrick

[2017-10-03 19:18] danalexilewis commented on #185
Can I have an update on this? Just been asked how we are going for demoing this at the end of the month. And in two prep pitches between now and then.

[2017-10-03 19:56] danalexilewis commented on #185
And as a general process what do people think of doing releases/deployments to staging every Monday.

[2017-10-03 21:32] iainkirkpatrick commented on #185
@agentlewis I just picked this ticket back up again last night - we have a Root Systems Heroku team account now (which I will send you an invite to), I've pushed the latest `master` to a deployment but it's bailing at the moment - I suspect we will have to make some changes to the way we are doing config at the moment, or at least there's a problem to address there.

Yeah I'm keen on the idea of r

[2017-10-03 21:36] iainkirkpatrick commented on #185
When we get to having a prod server then we should think about which branches match which deployment - i.e. `master` to prod, `staging`? to staging... for now i reckon we just use `master` for staging and continue to PR the way we have been. at least until @ahdinosaur gets back :)

[2017-10-03 22:06] danalexilewis commented on #185
Yeah pipelines are cool. Main thing is we don’t want staging-cobuy.tapin.nz to be broken. It should always be ready for demo.

 Other feature branch deployments could be cool - maybe we have other sub domains - dev-one.cobuy.nz, dev-two.cobuy.nz etc

Also note without continuous integration and tests we can’t do continuous deployment. It would be pretty cool to get Travis set up for doing some of

[2017-10-04 22:15] Julietbc commented on #152
after doing some initial work to integrate this and it becoming overly complicated I have discussed with @iainkirkpatrick and decided, for now(late oct demo), to just add some new fields for email, address etc rather than a full on wysiwyg editor

[2017-10-05 03:07] Julietbc commented on #146
@sarah-arrrgh @ahdinosaur  is this one done given #190?

[2017-10-06 09:33] ahdinosaur commented on #152
hey @Julietbc , what did you find complicated about the wysiwyg editor?

[2017-10-06 09:38] ahdinosaur commented on #146
@Julietbc, no. we need to add facets to every part of the interface: the product editor, the intent caster, and anything else relevant before this is done. keen to make separate tickets for those bits and bobs.

[2017-10-06 20:45] ahdinosaur commented on #185
i'd do separate branches for staging and production, where the production branch is deployed to the demo app, which should probably just be `cobuy.tapin.nz` yeah?

[2017-10-07 06:50] iainkirkpatrick commented on #185
current stumbling block:
- app deployed to staging, new github app for the staging deployment, but getting 500 internal server error when the callback returns from github... not sure why :/ needs a bit of diving into dogstack-agents credentials code methinks

noticing that the githubId is not persisted to the table on staging, but is locally.

[2017-10-08 22:29] danalexilewis opened #195 "Autoprefixing on deployment not happending?"
In looking at the deployment @iainkirkpatrick and I noticed that some of the css is not being compiled correctly. We suspect the autoprexing is not happening during transpilation as the un prefixed code is there associated with the correct class.

eg display: something, something, something

which should become several lines.

[2017-10-08 22:54] danalexilewis opened #196 "clicking back changes the url but doesnt refresh content"
tested in dev:

given I have opened localhost:3000
and I am not logged in
and I seed the splash page with sign in and register
and I click register/signup
and am taken to the corresponding form
When I click the browser back button
then the url changes
but not the content

browser: chrome
os: linux

[2017-10-09 01:16] iainkirkpatrick commented on #185
@ahdinosaur will look at this with you or pass on to you i think, have spent some time investigating to no avail...

getting a `Error: connect ECONNREFUSED 127.0.0.1:1025` when attempting to register with email and password, first thought was something sockety breaking but can't see what

[2017-10-09 08:38] michael-smith-nz commented on #178
Will be using the `OrderPlan` model as a base for `OrderSummary` component https://github.com/root-systems/cobuy/wiki/Models#orderplan

[2017-10-09 21:33] ahdinosaur opened #197 "create clear source of truth for milestones"
- what is in scope for each milestone?
  - job stories
- what deadlines are upcoming?
  - customer expectations

[2017-10-09 21:52] ahdinosaur opened #198 "pair with Michael every sprint"
1. schedule time(s) to sprint

best times:

- after 7pm at night NZ time
- before 10am in morning NZ time

[2017-10-09 22:10] ahdinosaur opened #199 "setup CI testing"

[2017-10-09 22:31] #187 closed, assigned to nobody

[2017-10-09 22:31] ahdinosaur opened #200 "sprint 9"
- open an order
- close an order

last sprint before demo

what are the wow factors?

- real-time data
- order summary (inter-operable across suppliers)
- tasks (demo that it automatically assigns tasks with due dates, continue work streams, whole app is task driven)

what are the sections to record video demos? only highlight reel

- registering a new user and starting an order
  - with email, pa

[2017-10-09 22:52] michael-smith-nz commented on #178
TODO:
- analyse what tickets need to be created/split off

[2017-10-09 22:54] #175 closed, assigned to Julietbc

[2017-10-09 23:04] danalexilewis commented on #197
had a punt at it:

Cobuy needs to facilitate two primary user stories through the application ~~~

(((((Admin))))) sign up —> setup user profile —> setup group —> add group user emails —> add supplier —> open order —> invite users —> close order —> approve order for sending to supplier —> send email

(((((Group user))))) receive invite —> sign up —> setup user profile —> intent cast in order —> se

[2017-10-10 00:45] iainkirkpatrick commented on #161
nb. looks like invited group 'create your profile' tasks are getting assigned to the admin atm, need to fix.

[2017-10-10 00:56] danalexilewis commented on #186
Show progress (the app)
Show how we work

TODO:

 - [ ] slide of burndown chart
 - [ ] slide of waffle and ticket detail

[2017-10-10 02:20] iainkirkpatrick commented on #161
todo:

- create a link for the invited user to visit, that contains their JWT - in the url?
- page for invitees to visit and update their password
  - do we want to lock this page from being visited by other users somehow?
- credentials patch that passes the JWT as well?

[2017-10-10 03:17] iainkirkpatrick commented on #161
nb. currently sending an invite email even if you are the admin signing up, need to not do this for them.

[2017-10-10 04:05] iainkirkpatrick commented on #161
chatted with mikey, he revealed how `tokenConsume` is supposed to be used, i.e. call that service to consume tokens. the schema file shows what properties can be passed in to a `.create` service call.
also instead of throwing the JWT through to the server somehow, we need to verify it and extract the tokenId - this is what tokenConsume needs.
tokenConsume will return the result of the patch operat

[2017-10-10 06:11] danalexilewis opened #201 "if you pick something from the sprint planning, you should do it asap and least make them tickets in waffle to make them more visible"

[2017-10-10 06:11] danalexilewis opened #202 "create work spaces to focus on a particular thing, e.g. "Wednesday morning we have the social media lounge", hang out and ignore each other to work on a specific focus"

[2017-10-10 06:12] danalexilewis opened #203 "Everyone Schedule a pairing session per week with michael"

[2017-10-10 06:12] danalexilewis opened #204 "better reporting on tickets more often"

[2017-10-10 06:15] danalexilewis opened #205 "Review Processes Column"
Dan created this new column and copied stuff from trello here. As well as moved the roles here.

Can the team have a review of these and decide whos doing what when

[2017-10-10 11:24] michael-smith-nz commented on #198
Have sent requests to everyone asking when works best

[2017-10-11 00:43] ahdinosaur opened #206 "profile editor says "My Profile", even when on group or supplier"
this is confusing, here's a ticket to fix this

[2017-10-11 00:54] ahdinosaur opened #207 "create human-readable script for integration test and demo"
this ticket is to create a human-readable script for how to start with a fresh load of Cobuy and move through the various stages of the app.

this should include reasonable demo data, that matches what we'd expect in a real-world use case.

this serves two purposes:

- it provides clear instructions for how to test the app, manually as a human
- it provides clear instructions for how to demo the a

[2017-10-11 01:25] ahdinosaur opened #208 "create integration tests"
after #207, this ticket is to automate the test scripts.

keen to look in to using https://github.com/electron/spectron for this.

[2017-10-11 04:21] ahdinosaur commented on #185
@iainkirkpatrick how did you add the GitHub app config to the staging deployment? i'd expect this to be added to https://github.com/enspiral-pods/cobuy-config in `staging` or `production.js`. i also think we'd need a way to automatically copy this config in during heroku deploy, have you done that somehow?

[2017-10-11 04:25] ahdinosaur commented on #185
@iainkirkpatrick port 1025 is [`maildev`](https://github.com/djfarrelly/maildev). similar configuration, it sounds like you are using the development config.

[2017-10-11 04:28] iainkirkpatrick commented on #185
ohhhhhhh!!! of course. yeah the config at the moment is in large JSON string in the heroku config vars - yeah had the thought that copying in config from the config repo would be ideal, but seems like we'd need some .sh scripts or something to do that... thought it was easier for now to just dump into config vars. but yeah totally includes the maildev stuff @ahdinosaur

[2017-10-11 04:34] ahdinosaur commented on #185
yeah, looking at the heroku config meow, keen to take this over @iainkirkpatrick. did you make accounts for any of the authentication services? you mention making a GitHub app, how will i be able to manage the settings, for example the callback url?

[2017-10-11 04:36] iainkirkpatrick commented on #185
sweet @ahdinosaur - theres a new `cobuy-staging` app under the root systems account on Github, maybe this link works https://github.com/organizations/root-systems/settings/applications/599918

[2017-10-11 08:58] michael-smith-nz opened #210 "Close an order"
A few possible ways of an order closing

- Time-based -  when an order end date is reached that order is considered closed.
- Manually close - An admin must manually press a button to close the order
- Something else?

In the future, we'll need to add some form of 'hooks' (send email, create tasks, etc) when an order is closed.

[2017-10-11 22:31] danalexilewis commented on #208
will spectron work with travis?
edit: found it - https://github.com/electron/spectron#on-travis-ci

[2017-10-12 03:35] ahdinosaur commented on #185
hey @agentlewis, who manages `tapin.nz` domain?

can they add a `CNAME` from `cobuy.tapin.nz` to `cobuy.tapin.nz.herokudns.com`?

[2017-10-12 03:37] ahdinosaur commented on #185
my thinking on `cobuy.tapin.nz` is that we treat it like our _production_ deployment of Cobuy for Tapin.

then, as you mentioned Dan, we might want to have some development staging servers, so we can test or demo features in a production environment, but those are non-specific to Tapin. we can start with `cobuy.rootsystems.nz` to be this?

[2017-10-12 03:56] ahdinosaur commented on #185
we need to choose a transactional email provider!

any preference between:

- [Mailgun](https://www.mailgun.com/)
- [Sendgrid](https://sendgrid.com/)
- [Mandrill](http://mandrill.com/)

i'm leaning towards Mailgun.

[2017-10-12 04:17] iainkirkpatrick commented on #185
mandrill is the only one i've used before - any reason you like Mailgun @ahdinosaur ? are they all much-of-a-muchness?

[2017-10-12 04:19] ahdinosaur commented on #185
@iainkirkpatrick developer-friendly, have a free plan, just cuz really. agree they are all a bit the same, but it's about who we want to start a relationship with.

[2017-10-12 04:52] ahdinosaur commented on #185
TODO:

- [x] fix styles on deployed site
- [x] test user flow
  - [x] register
    - [x] with email
    - [x] with GitHub
    - [x] with Facebook
      - [x] create Facebook app
    - [x] with Google
      - [x] create Google app
  - [x] sign up
  - [x] basic updates
  - [x] emails send
- [x] force ssl
- [x] fix production configs
- [x] fix production database
- [x] ~setup Git LFS with heroku~

[2017-10-12 05:04] ahdinosaur commented on #185
darn, heroku doesn't support Git LFS. we should push the images up to some file hosting website, like [Cloud Files](https://www.rackspace.com/en-au/cloud/files) or Amazon S3 or [Catalyst Cloud's OpenStack Object storage](http://docs.catalystcloud.io/object-storage.html).

more TODO:

- [x] setup cloud file account
- [x] create guide for how to get started and sync local files (in Git LFS) with rem

[2017-10-12 06:50] michael-smith-nz commented on #178
Notes from the call with Iain:

- Is it too early to work on plumbing?
  - Only intent components have been made, no plumbing
- How should the user see the order summary?
  - Could be task-based?

TODO:

- Work on data shape of order, orderIntent and product intent. This will cross over with Order Close work(#210)

[2017-10-12 07:07] danalexilewis commented on #185
@ahdinosaur I’ll add [mailjet](https://www.mailjet.com/mailgun/) to the list. Which uses [mailjet markdown language](https://mjml.io) - which makes custom email templates suck less. Though you could use mjml without mailjet.

I’d add that sendgrid and mailjet have campaigns which may be helpful while mailgun and mandrill will need to be used with mailchimp (I think)

Anyway - I’d say ease of dev i

[2017-10-12 07:12] michael-smith-nz commented on #178
Data shape. @ahdinosaur Would love your feedback before we go too far down the rabbit hole.

Should an `OrderPlan` reference an `OrderIntent` or be separate?

- order
  - orderIntents
    - agent
    - id
    - disiredQuantity
    - productId
      - priceSpecId
  - orderPlans
    - id
    - orderIntentId
    - quantity

[2017-10-12 08:32] ahdinosaur commented on #178
yes, but it's optional since you can plan without an intent.

the orderPlan needs to reference the productId and priceSpecId, since we can't depend on the intent for these values since it might not exist.

otherwise looks sweet on first pass!

[2017-10-12 08:34] ahdinosaur commented on #178
when they have a task to review the order summary. 😄 later we might want a way to check the history of an order, but i think we can skip this for now.

the component is very important to demo, the plumbing will be easier when the intent plumbing is done.

[2017-10-12 09:01] michael-smith-nz commented on #178
Great. Thanks @ahdinosaur, my assumption was that you can only have an orderplan with an intent so that's good to know.

[2017-10-12 09:08] michael-smith-nz commented on #178
Updated data shape

- order
  - orderIntents
    - agent
    - disiredQuantity
    - productId
      - priceSpecId
  - orderPlans
    - agent
    - quantity
    - productId
      - priceSpecId

[2017-10-12 19:15] #205 closed, assigned to ahdinosaur, michael-smith-nz, iainkirkpatrick, Julietbc

[2017-10-12 19:17] danalexilewis commented on #197
@Julietbc @iainkirkpatrick @NotThatSmith @ahdinosaur keen for some group thinking/editing on this.

[2017-10-12 22:35] ahdinosaur commented on #185
@agentlewis i think it'd be best to use [Catalyst Cloud](http://catalyst.net.nz/catalyst-cloud) as our cloud provider, to start with hosting our large files. do we have an account with them already? if not, should i just make an account?

[2017-10-12 23:08] ahdinosaur commented on #185
oops, ignore that last comment, i forgot i already made a Catalyst Cloud account for Root Systems. :sweat_smile:

[2017-10-13 04:06] ahdinosaur commented on #77
found a template for a copyright assigment agreement that provides us the ability to re-license to any license in the future (in case we want to play with [License Zero](https://licensezero.com/)):

http://contributoragreements.org/ca-cla-chooser/

options chosen:

Entity Name | Root Systems Limited
-- | --
Project Name | Cobuy
Project Website | rootsystems.nz
Project Email | coordinators@rootsyst

[2017-10-13 04:26] ahdinosaur commented on #77
[individual-contributor-license-agreement-1.1-2017-10-13-04_25_27.pdf](https://github.com/root-systems/cobuy/files/1381413/individual-contributor-license-agreement-1.1-2017-10-13-04_25_27.pdf)

[2017-10-15 23:04] Julietbc opened #212 "Refactor ordering journey copy"
- update 'My Profile' to 'Group Profile' in set up group profile
- update 'My profile' to 'supplier profile' in set up supplier profile
- fix edit product button

[2017-10-15 23:10] iainkirkpatrick opened #213 "Every user sees all users tasks"
Currently it looks like there is no logic to load only the current user's tasks - all uncompleted tasks in the system are loaded into 'Your Active Tasks'.

[2017-10-16 09:46] michael-smith-nz opened #214 "Order summary plumbing"
depends on #210

Order Summary component and story has already been created but no real data has been used.

This ticket is to wire up the component to real data from feathers.

related to #178

[2017-10-16 11:02] iainkirkpatrick commented on #213
this is pretty weird - if i try to implement the normal `query / shouldQueryAgain` flow on the `Dashboard` container (i.e. querying again if the `currentAgent` hasn't loaded yet) it blocks the actions from the `signIn` epic dispatching until there is a stack overflow. But without the querying again, the epic actions dispatch fine? is this related to the `delay` currently needed to kick signing in

[2017-10-16 21:13] ahdinosaur commented on #213
have you tried a `debugger`? the initial sign in epic is probably a distraction, i'd expect there to be something else you haven't noticed yet as the cause of this.

[2017-10-17 05:48] iainkirkpatrick commented on #152
gonna whack this back into backlog cause the ticket as per the description wasn't completed, instead the alternative (and we aren't counting points or anything ;) )

[2017-10-17 05:51] iainkirkpatrick commented on #212
@Julietbc - was just cruising the tickets and notice I updated the first two points today in a different ticket - [PR here](https://github.com/root-systems/cobuy/pull/217) your review welcome!

[2017-10-17 06:13] iainkirkpatrick commented on #196
[this thread](https://github.com/ReactTraining/react-router/issues/5072) i suspect may be talking about the same bug, with some suggested workarounds (react-router-redux v5 is in beta)

[2017-10-17 07:31] danalexilewis commented on #197
ok I have updated this to use some emoticons to make it easier to read. I think this is the best place for it. Happy to add/iterate it in the next sprint after I get feedback :P

[2017-10-17 07:32] #197 closed, assigned to ahdinosaur, danalexilewis

[2017-10-17 09:27] iainkirkpatrick commented on #207
first bash at a high-level outline for a script (using the current names for processes, some probably should be changed):

- home screen
- register
- user name and password
- create my profile
- start an order
- finish prereqs
- create group profile
- invite 2 more members
- create supplier profile
- create 3 products, each with 2 price specs
- start order
- select the group
- select the supplier

[2017-10-17 22:23] iainkirkpatrick commented on #207
is there any issue with using our real names / email addresses in the demo? i guess it'd be cool to show the real email for an invited member, but wouldn't need to show an actual inbox etc could just cut the video so it shows the email content.

[2017-10-17 22:25] iainkirkpatrick commented on #207
@agentlewis what would be a good name for a demo Group? i.e. is it a community of learning that would be the level of a group in Tapin? i.e. 'Test COL' or something more exciting

[2017-10-17 22:55] iainkirkpatrick commented on #207
some draft data for a supplier, changes welcome:

[code]

[2017-10-18 00:06] danalexilewis commented on #207
@iainkirkpatrick Ruru Kāhui Ako

[2017-10-18 02:20] ahdinosaur commented on #186
group huddle @root-systems/cobuy

- [x] detailed outline for demo flow with mock data: #207 @iainkirkpatrick
- [x] sweet through app and create tickets for bugs, polish, etc @iainkirkpatrick, @Julietbc
- [x] review pull requests
- [x] i18n missing (need ticket for this)
- [x] group supplier admin dropdowns don't display selected option (need ticket for this)
- [x] deployment #185 @ahdinosaur
- [x]

[2017-10-18 02:41] iainkirkpatrick opened #221 "general styling of Dashboard"
components are off-center, questions around what 'your orders' even means now etc

[2017-10-18 02:48] iainkirkpatrick commented on #221
- remove dashboard title and your orders section, just leave start order button
- center align / left align the text / tasks

[2017-10-18 02:48] iainkirkpatrick opened #222 "font"
what's up with the font on the site, pick one and stick with it

[2017-10-18 02:50] iainkirkpatrick commented on #222
also the main font, um

[2017-10-18 02:50] iainkirkpatrick opened #223 "copy on splash page of site"
i.e. should this be different for Tapin? or whether it should be there at all?

[2017-10-18 02:51] iainkirkpatrick opened #224 "hey welcome to cobuy?"
is this ok for tapin? what else could it be?

[2017-10-18 02:54] iainkirkpatrick opened #225 "forms require you to click 'edit' before you can edit"
this is a wee bit unintuitive, could we just have fields that are editable by default

[2017-10-18 02:57] iainkirkpatrick opened #226 "styling of avatar selection component"
looks like windows 3.1 wants its buttons back atm

[2017-10-18 02:58] iainkirkpatrick opened #227 "having to click 'done' button in top-right feels unintuitive"
can probably gloss over this for video but this is annoying, esp with nested tasks

[2017-10-18 03:00] iainkirkpatrick opened #228 "bug: presence of a TaskWork doesn't prevent the associated TaskPlan from showing in active tasks"
PR #276

[2017-10-18 03:02] iainkirkpatrick opened #229 "'complete your order' copy could be updated"
'edit your order'? 'edit this order'? 'edit order'?

[2017-10-18 03:03] iainkirkpatrick opened #230 "clicking 'start order' should redirect you to the first page of setting up that order"

[2017-10-18 03:09] iainkirkpatrick commented on #229
'Complete Order Pre-requisites"

[2017-10-18 03:13] iainkirkpatrick opened #231 "titles of order sub-tasks"
instead of 'finish pre-reqs for ordering", just "setup a group / supplier".
instead of 'start order', just 'select order options'

[2017-10-18 03:16] iainkirkpatrick opened #232 "'invite your members'?"
um

[2017-10-18 03:18] iainkirkpatrick opened #233 "auto-adding new fields in 'invite members' form feels wack"
use the 'add member' button to add new members rather than fields auto appearing

[2017-10-18 03:20] iainkirkpatrick opened #234 "remove the tickbox from invite members list"
why would we ever untick this during this task

[2017-10-18 03:21] iainkirkpatrick opened #235 "bug: inviting a member bails on a table insert error"

[2017-10-18 03:23] iainkirkpatrick opened #236 "upgrade task steps flow into ordered sub-tasks, update task worker to support"
and possibly remove the done button - seems bad to be able to click 'done' before you are finished with the form

[2017-10-18 03:24] ahdinosaur commented on #222
@iainkirkpatrick can you be more specific? a screenshot would help.

[2017-10-18 03:26] ahdinosaur commented on #227
do we have a better idea?

[2017-10-18 03:26] ahdinosaur commented on #226
can you be more specific, what do you think should be changed and how?

[2017-10-18 03:28] ahdinosaur commented on #229
how _should_ the copy be updated?

[2017-10-18 03:29] ahdinosaur commented on #232
um what?

[2017-10-18 03:33] iainkirkpatrick opened #237 "general styling of product list tasks"
- [x] 'create new product' - maybe just 'add product'
- [ ] don't call em 'resources', use 'product' lingo
- [x] fix the missing internationalisation pieces
- [x] remove the floating resource id somehow
- [ ] remove 'save price specs' button, include price specs fields in the resource form, when save resource also save edited price specs

[2017-10-18 03:34] iainkirkpatrick opened #238 "if finished all sub-tasks in a task, automatically finish that task as well"

[2017-10-18 03:34] ahdinosaur commented on #233
haha nice. for context: this is a common on forms targeted towards power users, so you can quickly add new members by tabbing across the fields. the code to handle it is a bit funny at the moment, it's _much easier_ to not have the fields auto-appear, so is not this way on accident. Greg and i had some chats about this back in the day #35 #56. happy to revisit this in #93 and #148.

[2017-10-18 03:35] ahdinosaur commented on #234
what tickbox?

[2017-10-18 03:35] iainkirkpatrick opened #239 "show confirmed selection in dropdown when picking group, supplier, admin in order setup"
Currently the selected option doesn't display, which results in bad UX

[2017-10-18 03:35] ahdinosaur commented on #235
what's the error?

[2017-10-18 03:36] iainkirkpatrick opened #240 "why does it say my profile in group, supplier, admin selection tasks"

[2017-10-18 03:37] iainkirkpatrick opened #241 "remove 'create new' button from group, supplier, admin selection tasks for now"
since it does nothing at the moment

[2017-10-18 03:37] ahdinosaur commented on #236
keen for this, but also want to understand your approach because from my perspective it seems non-trivial to do "better", hence the current mvp approach.

[2017-10-18 03:37] iainkirkpatrick opened #242 "'cast your intent for order' - better copy needed"
this is the current copy on for the Task (and button) that appears once an order has been opened for a group that you are a part of.  we should probably update it to something more novice-user-friendly before the demo

[2017-10-18 03:55] ahdinosaur commented on #185
most things are done, but for some reason https://github.com/root-systems/cobuy/commit/31354ffef392d0c5820f6514925b221148974bbb caused the styles to break terribly wrong on both production and development, trying to figure out why.

[2017-10-18 04:04] ahdinosaur commented on #185
oh hey, upgrading the dependencies fixed all the things. also why they broke, yay magic.

[2017-10-18 10:05] #206 closed, assigned to iainkirkpatrick

[2017-10-18 10:24] iainkirkpatrick commented on #235
a FEATHERS_AGENTS_ERROR with message "update "agents" set "consumerAgentId" = 3, "type" = 'person' where "id" = 2 - SQLITE_ERROR: no such column: consumerAgentId"

this is because `consumerAgentId`is being passed in with the data when creating an agent when inviting members. though just tested and this is fixed in an [open PR](https://github.com/root-systems/cobuy/pull/211) i have, so i'm gonna cl

[2017-10-18 10:24] #235 closed, assigned to iainkirkpatrick

[2017-10-18 22:10] iainkirkpatrick commented on #207
@agentlewis is that a real kahui ako? if so, should we have a real description, phone, email, website for them?

[2017-10-18 22:25] #240 closed, assigned to iainkirkpatrick

[2017-10-18 22:26] iainkirkpatrick commented on #240
Removed the incorrect copy.

[2017-10-19 03:21] #196 closed, assigned to iainkirkpatrick

[2017-10-19 04:37] ahdinosaur commented on #185
https://cobuy.tapin.nz/ is mostly working, but styles are now broken again in a _different_ way. :roll_eyes:

[2017-10-22 22:04] ahdinosaur opened #244 "add <title>Cobuy</title>"
at the moment we have no `<title>` tag, so the page is named whatever the browser feels like.

this ticket is to add `<title>Cobuy</title>` in the layout.

can be done using:

- [`react-document-title`](https://github.com/gaearon/react-document-title)
- [`react-helmet`](https://github.com/nfl/react-helmet) (this will make it easy to add other head tags later, like facebook metadata)

[2017-10-22 23:15] ahdinosaur commented on #185
okay, sorted this out in https://github.com/root-systems/dogstack/pull/83 and https://github.com/root-systems/cobuy/pull/209, https://cobuy.tapin.nz/ is now working.

[2017-10-22 23:37] iainkirkpatrick commented on #207
![image uploaded from ios 1](https://user-images.githubusercontent.com/1994975/31867585-f2d99306-b7ee-11e7-9630-573e41a4411c.jpg)

[2017-10-23 03:25] iainkirkpatrick commented on #207
Had a chat with @agentlewis around video content, which spiralled a little into what things down the road for Cobuy / Cosupply and their Tapin cousins might look like also.

Dan's explanation of the video is that it needs to cover both:
- progress we have made so far with the money
- a pitch for the direction of Tapin overall, i.e. selling the vision

As per the image above, Dan suggested that the

[2017-10-23 03:30] danalexilewis commented on #207
@iainkirkpatrick - no that’s really good.

If we can get the video down to 30-60 seconds that would be good.

May mean accelerorating the playback a little (certainly any typing)

[2017-10-23 10:22] michael-smith-nz opened #245 "Logout button does nothing"

[2017-10-23 13:00] michael-smith-nz opened #246 "Add shipping address to Agent Profile"
Needed for #215

Both Supplier and group will need a shipping address

[2017-10-23 21:33] ahdinosaur commented on #195
fixed in #185

[2017-10-23 21:33] #195 closed, assigned to nobody

[2017-10-23 22:30] sarah-arrrgh commented on #135
Maybe this is something we could pair on @iainkirkpatrick ?

[2017-10-23 22:33] iainkirkpatrick commented on #207
20-30 secs max, maybe a gif

[2017-10-23 22:59] ahdinosaur opened #247 "sprint 10"
team:

- demo video (MUST HAVE)
- what is Cobuy? assets

self-accountability:

- Sarah
  - keen to lead on demo video
  - want boundaries around about the app styles
- Dan
  - would be nice to have a check-in every morning
  - clarify exactly what we need
- Juliet
  - finish intent casting
  - want to support video if pressed for time
  - fix the glossary language
  - pair on video editing
- Mikey

[2017-10-23 22:59] #200 closed, assigned to ahdinosaur, michael-smith-nz, iainkirkpatrick, Julietbc

[2017-10-24 01:10] #185 closed, assigned to ahdinosaur, iainkirkpatrick

[2017-10-24 03:00] #161 closed, assigned to iainkirkpatrick

[2017-10-24 03:02] ahdinosaur commented on #245
@iainkirkpatrick didn't you fix this recently?

[2017-10-24 03:48] #213 closed, assigned to iainkirkpatrick

[2017-10-24 03:51] #178 closed, assigned to michael-smith-nz

[2017-10-24 04:03] ahdinosaur commented on #246
will be similar to https://github.com/root-systems/cobuy/pull/194

[2017-10-24 04:12] #245 closed, assigned to nobody

[2017-10-24 04:12] ahdinosaur commented on #245
ah yeah: https://github.com/root-systems/dogstack-agents/pull/17

merged that pull request, published a new version of `dogstack-agents`, and pushed a commit to Cobuy to upgrade to latest `dogstack-agents`.

[2017-10-24 04:59] #239 closed, assigned to iainkirkpatrick

[2017-10-24 05:12] iainkirkpatrick commented on #207
FYI all i'm jamming on some seed data for the tapin demo so that we don't need to have email invites working to have other accounts that belong to a single group (after talking with @Julietbc and @sarah-arrrgh )

[2017-10-24 05:13] ahdinosaur commented on #246
implemented in https://github.com/root-systems/cobuy/pull/248

[2017-10-24 12:42] #246 closed, assigned to ahdinosaur

[2017-10-24 19:50] iainkirkpatrick opened #250 "always creating groups when starting an order"
seems to be that if a new order is started, currently a new group / supplier is created even if either of those already exist with a relationship to the member

[2017-10-24 20:03] iainkirkpatrick commented on #250
OK, so this happens because `DashboardOrders` creates an Order with no data when we click the 'Start Order' button - and then there are hooks on the Orders service that create a group / supplier if no group / supplier ID has been given in the data.

So two options here:
- dashboard could load the groups / suppliers relevant to the logged in user when it first loads, and then we pass in one of each

[2017-10-24 20:24] iainkirkpatrick opened #252 "Seed data for Tapin demo"
Add seed data that makes videoing a demo for Tapin presentations easier

[2017-10-24 20:25] iainkirkpatrick commented on #207
#251 / #252 as PR / ticket for seed data

[2017-10-24 22:44] sarah-arrrgh commented on #207
- seed data will exist in db once the seeds have been run

- 20-30 secs total

---

- log in as dan to start an order
- others are already members of group
- we are not showing setting up a group / inviting members
- so we're just showing dan starting an order from order config page
- this is the group this order is for
- this is the supplier it's for
- this is the admin (can choose any member of

[2017-10-24 22:48] sarah-arrrgh commented on #207
bug: start order creates a blank group and blank supplier in pre-reqs

[2017-10-25 00:56] #244 closed, assigned to ahdinosaur

[2017-10-25 00:59] iainkirkpatrick opened #253 "multiple credentials created when registering user"
this conversation from #211:

@ahdinosaur keen on your thoughts on this, looking at this problem again today...

so at the moment this is a after-create hook on agents, which gives us the problem that this hook fires before the credentials service has finished creating a users credential - meaning we can't tell if this is an invited user (through MemberInvites) or a user signing up by themselves.

[2017-10-25 01:02] iainkirkpatrick commented on #253
after discussing with @ahdinosaur on the way to work, the recommended approach is to switch registering a user from creating a `credential` to creating an `agent`, and use `agent` hooks to create subsequent `credentials` (and ideally all other related database table records such as `Profile`, so in the end all CRUD for an agent and other `dogstack-agents` tables would be run through `agent`).

[2017-10-25 01:37] iainkirkpatrick commented on #242
"select your items in order X"?

[2017-10-25 01:42] iainkirkpatrick commented on #162
feels to me like this is done? i.e. there are areas in the app now where we query for suppliers based on the `relationshipType: 'supplier'`

@Julietbc @ahdinosaur ?

[2017-10-25 02:48] #252 closed, assigned to iainkirkpatrick

[2017-10-25 04:16] sarah-arrrgh commented on #207
Current app (master branch) status things to note:

- db seeding works good - run `burnthedb` when pulling down master to seed the db (and to reset the seeding)
- long delay between hitting *start order* and the task *complete your order* coming up (speed this up for video)
- start recording straight from *start order* view
- on click *done*, video magic back to dash (as current bug = prereq tasks

[2017-10-25 21:25] iainkirkpatrick opened #255 "redirect back to product list once intents are cast on a single product"

[2017-10-25 21:58] Julietbc commented on #255
@iainkirkpatrick - I just added these changes to the same branch there is already a PR on

[2017-10-25 21:59] Julietbc commented on #255
for intent casting

[2017-10-25 22:26] iainkirkpatrick opened #258 "infinite loop of taskworks loading on dashboard"
i think it's something like this - iain to investigate

[2017-10-26 01:51] Julietbc commented on #162
Yeah idk why this is still here @iainkirkpatrick  I thought it had been closed

[2017-10-26 01:51] #162 closed, assigned to Julietbc

[2017-10-26 04:04] ahdinosaur commented on #258
is there a work-around for this? i'm not sure how to get to the intent casting page with this, halp. :cat:

[2017-10-26 04:19] iainkirkpatrick commented on #258
not yet @ahdinosaur - i'm unsure how we should fix it, the seeded agents don't have `createProfile` tasks which the current code assumes is there (i.e. always at least one taskPlan). bad assumption i know. what else to put in the `Dashboard`'s `shouldQueryAgain` though?

[2017-10-26 04:19] iainkirkpatrick commented on #258
I can look at this after football if need be

[2017-10-26 04:56] ahdinosaur commented on #258
there's always a way, i think i can sort something out using the `status` object.

[2017-10-26 21:42] #258 closed, assigned to ahdinosaur, iainkirkpatrick

[2017-10-26 21:51] #241 closed, assigned to iainkirkpatrick

[2017-10-28 01:18] danalexilewis opened #264 "Add the milestone AND ticket size"
As I am using the waffle sprint graphs as a reporting tool it is really important these two things are done:

eg:

https://waffle.io/root-systems/cobuy/metrics/burndown?milestone=beta%201

I don’t need to see things estimated, I feel this is for the team to do if it’s gelpful - rather the final size a ticket has in the done column reflects how much work went into it really matters for understandin

[2017-10-29 21:04] iainkirkpatrick commented on #229
this was done on friday :) has been included in `master` now

[2017-10-29 21:04] #229 closed, assigned to Julietbc

[2017-10-29 21:12] iainkirkpatrick commented on #39
IMO this is done for now - we can extend the intent casting flows with other tickets, but the core is there

[2017-10-29 21:13] #39 closed, assigned to iainkirkpatrick, Julietbc, sarah-arrrgh

[2017-10-29 21:14] iainkirkpatrick commented on #207
this is done now, but wondering if we should extract the steps into another doc somewhere to be manual tests / integration tests... thoughts @ahdinosaur ?

[2017-10-29 21:16] iainkirkpatrick commented on #212
these are done now :)

[2017-10-29 21:16] #212 closed, assigned to Julietbc

[2017-10-29 21:18] iainkirkpatrick commented on #186
done wooh!

[2017-10-29 21:19] #186 closed, assigned to danalexilewis, Julietbc

[2017-10-29 21:42] ahdinosaur commented on #207
@iainkirkpatrick yeah, before this ticket is "done" i reckon we should have a TEST.md or wiki page with the human-readable scripts to manually test the app.

[2017-10-29 21:48] #255 closed, assigned to Julietbc

[2017-10-29 21:56] ahdinosaur commented on #264
that assumes a constant velocity. if we spend a week on a 3-point ticket, it _might_ mean the ticket was under-estimated, it might also mean that our velocity is 3 points per week.

[2017-10-29 21:59] ahdinosaur commented on #236
as i see it, the "better" way is for these task steps to be handled as ordered sub-tasks and run through the task worker. at the moment, they are handled as single tasks, where it just so happens that each task has multiple steps.

at the moment, we only support un-ordered sub-tasks. we'd need some way to express ordered sub-tasks. then with this information, we could update the task worker compon

[2017-10-29 22:01] danalexilewis commented on #264
@ahdinosaur I don’t really mind if the velocity changes or it was underestimated or if the velocity is 3 points per week. That’s all for the sprint process to manage.

What I am saying is that I need a record that reflects the effort put in.

[2017-10-29 22:02] ahdinosaur commented on #238
but then we steal the _satisfaction_ of clicking "done"! :wink:

[2017-10-29 22:37] ahdinosaur commented on #230
or should the entire "start order" task just be an accordion that drops down? it's a task to create a task, what if creating a task happened as an accordion on the dashboard.

said another way, this ticket is to improve our current design, but what about if we think the current design is not the right direction? what do other people think about this design?

[2017-10-29 22:42] ahdinosaur commented on #225
my understanding was we wanted to re-use editable components with un-editable components. but if that was the case, i'd rather we passed in `isEditable: true` when we're editing our profile, `isEditable: false` when viewing someone else's profile, rather than the current edit button. what do others think?

[2017-10-29 22:44] ahdinosaur commented on #224
with #249, the name of the app is configurable.

we should update `app.name` and other locales to take the name as a variable.

[2017-10-29 22:52] ahdinosaur commented on #43
superseded by #214

[2017-10-29 22:52] #43 closed, assigned to nobody

[2017-10-29 22:53] ahdinosaur commented on #157
dependent on #236

[2017-10-30 02:10] ahdinosaur commented on #210
one way is we store the "status" on the order object: https://github.com/root-systems/cobuy/issues/21. the problem with this approach is that there are actually so many possible statuses, and this way we lose provenance (records of the flow) between statuses.

another way is that when an order is closed, we create the order plan. this means an order is "closed" when the order plan is created. the

[2017-10-30 05:03] ahdinosaur opened #266 "update agents service to encompass profile, credential, relationships"
rather than have to query and update across many different related services, it'd be sweet if the agents service was the one-stop shop for everything agent.

related to #253

[2017-10-30 05:16] ahdinosaur opened #267 "auto-save forms"
not save buttons

the difficulty is giving the user assurance that what they entered has been saved. people get very afraid of their data not being saved, so save buttons are better than badly made auto-save.

we could do this with a spinner that comes up during the save process, then has either a green check mark on success or a red ex on error.

example forms:

- [ ] edit profile
- [ ] manage gr

[2017-10-30 08:21] danalexilewis commented on #266
Sounds like a covert holodex :)

[2017-10-30 10:45] michael-smith-nz commented on #135
Have removed personal names and changed to initials to keep people we're in contact with anonymous for their safety.

[2017-10-30 10:48] michael-smith-nz commented on #221
Keen to understand the thinking around this comment

What are the questions? After seeing #157 it sounds like we're wanting to remove the dashboard function? How would a user see orders in progress, edit their order, etc.?

[2017-10-30 11:49] michael-smith-nz commented on #210
Notes:

- What's the UI workflow? Could have the admin manually pressing a button to close an order for now? Where would this live?
  - This will complete/close all 'Add items to this order' tasks (create taskworks)
- Should be easy in the future to move from a manual close to a time-based closed
- When an order starts an admin could have a 'close order' task show on their dashboard

- A Closed or

[2017-10-30 11:52] michael-smith-nz commented on #157
Would like group all tasks by order? At the moment the 'dashboard' shows what look like identical tasks for different orders.

[2017-10-30 13:06] michael-smith-nz commented on #210
TODO:

- When an order is created, add a `close order` task plan assigned to the admin of the order
- When the order is closed make sure all `cast intent` task plans associated with that order are closed (create task works for them?)
- When order is closed, make order summary available to view (work could be done in #214 instead)

[2017-10-30 19:09] danalexilewis commented on #210
Just to add some other ways an order might close:

- money based (a certain amount has been reached)
- participation based (a certain number of buyers)
- a number of items (say 50 chrome books)

These could maybe be combos to. Like a money and participation requirement.

We could also open an identical order as a result of this close (out of scope for this ticket - just context). The 50 chrome boo

[2017-10-30 19:33] michael-smith-nz commented on #210
Thanks Dan, that might be good to document in the wiki as well.

I think at this point I'd appreciate you wearing the product owner/person closest to end users hat and letting us know what would be the most useful way for users to close an order. Is the way I was thinking above the best, or is one(or many) of the ways you suggested best?

If we need all of them this might need some more thinking b

[2017-10-30 21:55] iainkirkpatrick opened #269 "problem with adding products for supplier post-reload"
needs more investigation to pin down the specifics, but at the moment:

- when i start an order, i can setup a supplier and create a product
- if i don't enter any data for that product, when i reload, the product doesn't load and i can't create any additional products

[2017-10-30 22:17] ahdinosaur opened #270 "add task creation widget to dashboard"
currently, the way to start an order is to click a "start order" button, which if you've finished the pre-requisites creates a setup order task where you step through choosing consumer, supplier, and facilitator, which then when completed creates the order task: https://github.com/root-systems/cobuy/pull/192. there's now another ticket to make a small improvement to this process: https://github.co

[2017-10-30 22:21] ahdinosaur commented on #157
@NotThatSmith that's a good point. this proposal is an alternative approach, each order corresponds to a single task, which has the entire order flow as sub-tasks. this way, all the top-level tasks would be your orders, except for any isolated tasks like setting up your profile or such and such.

for the proposal, we'd probably also want the ability for sub-tasks to be conditional, as in be able t

[2017-10-30 22:29] ahdinosaur commented on #221
i thought the dashboard was meant to show active tasks assigned to you.

i think it might also help to show each order, providing the user with a progress update and a way to jump in to the current active tasks. one possible way to do this is with #157, where each order is a single task, so they become iconic tasks on the dashboard with beautiful progress visualizations with easy to jump in entry

[2017-10-30 22:33] ahdinosaur commented on #266
another way of phrasing this ticket: `dogstack-agents` should provide a single service: agents, which combines many related tables in one abstraction.

[2017-10-30 22:56] ahdinosaur commented on #157
so, how would this look like in practice?

rough sketch in my mind:

[code]

and more complete draft of the order task recipe, including childs:

[code]

thoughts anyone? i'm pretty keen on this idea, but obviously need buy-in from the team.

[2017-10-31 00:33] ahdinosaur opened #271 "update product service to encompass product, resourceType, priceSpecs"
similar to #266

Cobuy only interacts with resourceType, priceSpecs, etc as a "product". i think it makes sense to encompass these related tables and services into a single service that we can find, create, update, and remove with.

[2017-10-31 01:08] ahdinosaur commented on #270
this should probably be a [material ui "floating action button"](https://material.io/guidelines/components/buttons-floating-action-button.html#buttons-floating-action-button-floating-action-button)

which maybe after you click pops open a modal to fill in information.

[2017-10-31 01:11] ahdinosaur commented on #270
from https://github.com/root-systems/cobuy/issues/157,

- if every top-level task is an order, than the primary action is to create new orders
  - when on your first order, you won't need to fill out the supplier and consumer, since you don't have any to choose
  - the order admin is always the current user creating the order

[2017-10-31 01:12] iainkirkpatrick commented on #157
just chatted with @ahdinosaur about this, took a few questions for me to see the idea clearly, but i'm pretty keen on this now :)

key things for me:
- IMO an order as the 'task to rule them all' gives us an opportunity to consider the paradigm that ONLY an order is a task in Cobuy (i.e. the only processes we model with tasks are an order and it's sub-tasks as @ahdinosaur listed above). This appea

[2017-10-31 01:51] ahdinosaur commented on #165
since #185, all the production configuration is done as environment variables (as it should be). maybe we should do the same for any development secrets and just use a [`.dotenv`](https://github.com/motdotla/dotenv) file in development that specifies the relevant environment variables.

[2017-10-31 03:57] sarah-arrrgh commented on #172
![image](https://user-images.githubusercontent.com/12442114/32206820-8a2a7a4a-be5c-11e7-8279-f73dd4dd2b6b.png)

[2017-10-31 04:07] sarah-arrrgh commented on #231
@Julietbc is this done?

[2017-10-31 04:18] sarah-arrrgh commented on #228
**TaskRecipe** = What is this task about?
(lives in tasks/data/recipes.js, eventually will live in database)

If we want a user to create their profile, we give them a taskPlan, with the correct taskRecipe id

e.g.
[code]

---

**TaskPlan** = Who is this task assigned to?
(lives in database)
A record that links a user to a taskRecipe

---

**TaskWork** = A record that the associated task plan is d

[2017-10-31 04:27] sarah-arrrgh commented on #228
- [x] for a previously completed task - are we getting the TaskWork in state on the dashboard? - YES
- [ ] let's not show the TaskPlans that have a TaskWork associated with them 🗡

[2017-10-31 05:33] iainkirkpatrick commented on #157
a thought... around non-order-admins looking at orders in their dashboard, what would they see if the order is at a stage where there is nothing for them to do? do they not see it (seems bad, they're part of an order but can't see the status), do they see it but can't interact with it (how do we show them which orders they can / need to interact with)?

wondering now if a good solution is still fo

[2017-10-31 07:09] ahdinosaur commented on #157
this matches my mental model for the dashboard.

as with the order progress, we could have a symbol for "action required". like if we visualize an order as a series of steps connected in a chain, each step with a symbolic icon, we could update the background or fill in the icon when it is completed, and connect the next steps when active with lines.

roughly:

[code]

or something

[2017-10-31 08:26] iainkirkpatrick commented on #269
Figured out this is being caused by `getSetupSupplierTaskProps` ultimately relying on `getCurrentSupplierAgentId`to help derive a list of products for the supplier. `getCurrentSupplierAgentId`uses `getCurrentOrder` to give us the `supplierAgentId`, but if the app is reloaded there is no query to the database for any order objects!

Discussed with @ahdinosaur today and @NotThatSmith tonight - think

[2017-10-31 08:31] danalexilewis commented on #210
Sorry @NotThatSmith I should have been clear that was an info bomb of options and mvp would definitely be a manual close button the order admin can use.

Cheers for the call to action

[2017-10-31 08:37] danalexilewis commented on #270
@ahdinosaur sorry to clarify:

 - at the moment we have a wizard style click through process
 - you are proposing a dropdown form widget on the dashboard as a better alternative

If so I’d agree and like to add:

 - long drop downs suck, so it’s cool if there are limited options
 - on mobile (iOS) they use the native selector. The stock HTML one sucks. It’s the scroll wheel thing that comes up whe

[2017-10-31 08:41] danalexilewis commented on #157
I like the idea of some sort of progress indicator / status on orders peeps are participating in.

For mvp let’s keep it simple: perhaps a text field showing the stage name. That way it creates the requirement that we need to name the stages without us worrying about building to much ui.

[2017-10-31 08:50] danalexilewis commented on #157
Regarding the idea that only orders are tasks. I think that makes sense for the current scope for beta 1.

Beyond this I think we will have other task types. Eg packing. There are potentially other tasks related to responding to suppliers, status updates, accounting (checking transaction references) etc.

So i am not sure what implications this has - more pointing out I think there are other task

[2017-10-31 10:29] michael-smith-nz commented on #157
Love the thinking here.  I agree most with @iainkirkpatrick's statement:

I like our thinking of moving away from a task-based system, to an order based system with tasks. My main concern with a task-based system is the assumption that everything the user does can be "completed" or that they can be completed in a linear fashion.

E.g. Casting intents; As the order progresses, users may be casting

[2017-10-31 10:33] michael-smith-nz commented on #157
And yes @ahdinosaur your rough sketch looks ideal. I agree with everything aside from the 'cast intent' being a task(reason above). But also happy to leave that as a task for MVP and come back to that once we receive user feedback

[2017-10-31 10:33] ahdinosaur commented on #157
i started this in #21, so far have 12 stages (!)

[2017-10-31 10:41] ahdinosaur commented on #157
i'm aiming for a task-based system where the primary top-level tasks are orders. i see the non-linear completion of tasks as a challenge for any real-world-useful task system, not a barrier that we can't overcome. 😸

alternatively, the cast intent task is completed when the user feels they are done, they are still able to check their intent casted anytime later, they may even be assigned a new tas

[2017-10-31 10:45] ahdinosaur commented on #21
since this issue is now relevant again, i'd appreciate any feedback, then i reckon next step here is to give identifier names to these statuses / stages / phases / modes.

[2017-10-31 11:07] michael-smith-nz commented on #157
Hmmmm, maybe I'm confusing tasks with a to-do item.

Can a task be completed but still open? I see the update profile, cast intent tasks falling into that category.

I agree from a programming point of view, everything is a task. But I am concerned that we're also wanting the user to think that way when it doesn't feel natural to them. I'd love for some user testing 😀

I think what is confusing me

[2017-10-31 11:26] ahdinosaur commented on #157
i think my idea is that if the primary tasks are orders, we can get the order tasks and search down the task tree to see the task pipeline. by seeing the whole pipeline, we can see tasks that may, or may not be completed.

then non-primary tasks can be fired as notifications as they are relevant. 🔔

[2017-10-31 11:37] ahdinosaur commented on #157
random idea: with [last comment](https://github.com/root-systems/cobuy/issues/157#issuecomment-340734219), if non-primary tasks are notifications, then the dashboard could contain only orders.

and in the app bar, we have:

- register / sign in / log out
- orders
- notifications
- directory

?

[2017-10-31 11:47] michael-smith-nz commented on #21
Nice @ahdinosaur! This is roughly how I see them looking from the users'(not admin) point of view:

Order doesn't exist yet/being drafted
- while facilitator is editing order and before it becomes live

Order open
- after facilitator clicks 'go live' and before individual intent phase completes

Order closed
- after individual intent phase completes and before group commitment is finalized

Requir

[2017-10-31 16:46] danalexilewis commented on #21
@NotThatSmith & @ahdinosaur nice write ups.

I think the stages are slightly different depending on setup parameters - similar to the summary.

For example if purchases (schools) were buying individually then the payment stage would be order sent and maybe supplier has sent out invoices.

Note: The wording through me here, in my mind we send suppliers **orders** for goods and they send us back an

[2017-10-31 16:57] danalexilewis commented on #157
I remember talking about **workflows** and I think a workflow in my head is the same as a primary task or pipeline.

I also think I am hearing that we need to distinguish better between the language of our app and the language of our code and that ideally they should overlap as much as possible. User testing the app language would be something we should plan to do as soon as we can run a user thro

[2017-10-31 17:05] danalexilewis commented on #157
Last thought on tasks:

I was thinking about how I explain the way we are building this and was remembering the cyclejs request response drawing (which I love for its clarity)

![cycle js flow](http://static.oschina.net/uploads/space/2015/0702/140515_qyiG_2306979.png)

And was wondering if tasks are essentially the handover to humans from an event driven architecture on the app side. In this sense

[2017-10-31 22:25] sarah-arrrgh commented on #228
## Sarah's brain thoughts:

- [ ] wiring up a getter somewhere to feed only TaskPlans that **do not** have a TaskWork id associated with them

Tree of my mind:

- (component) DashboardTasks - `renderParentTasks` from `taskPlans`
- (component) Dashboard
- (container) Dashboard
- (getter) getDashboardProps
- (getter) getParentTaskPlans
- (getter) getTaskPlans

Currently all TaskPlans are "gotten" an

[2017-10-31 22:54] sarah-arrrgh commented on #228
[code]

[2017-11-01 03:14] #224 closed, assigned to ahdinosaur

[2017-11-01 03:38] sarah-arrrgh commented on #228
### ramda filter

two arguments:

1 - predicate - a rule that returns true or false

2 - array - that the rule will be applied to

returns an array or subarray of all the array bits that conform to the rule

[2017-11-01 04:35] sarah-arrrgh commented on #228
Mikey says:

- do ramda things the ramda way
- don't give a thing two arguments at once, give it the first one first, then that returns a function that you can call with the data later on.
- instead of having a separate getter to figure out which taskPlans are active, do the same logic in the enchancedTaskPlans getter that adds a thing to the taskPlans state called `isActive` that can be true or f

[2017-11-01 04:53] ahdinosaur commented on #234
ohh, this tickbox:

![screenshot_20171101_175204](https://user-images.githubusercontent.com/719605/32260542-6760d582-bf2d-11e7-82ca-90cae59f5834.png)

it's actually a `isAdmin` checkbox. my idea was to allow people to specify roles through a simple checkbox system, but yeah at the moment it's pretty lame and the only role we have implemented is admin.

keen to revisit this in #148?

[2017-11-01 04:54] #234 closed, assigned to nobody

[2017-11-01 04:58] #269 closed, assigned to iainkirkpatrick

[2017-11-01 05:20] iainkirkpatrick commented on #253
resolved in https://github.com/root-systems/dogstack-agents/pull/20

[2017-11-01 06:24] #253 closed, assigned to iainkirkpatrick

[2017-11-01 08:54] iainkirkpatrick commented on #242
this is done now :)

[2017-11-01 08:54] #242 closed, assigned to Julietbc

[2017-11-01 08:55] iainkirkpatrick commented on #231
not done on master yet

[2017-11-01 22:18] ahdinosaur commented on #157
diving into implementation details:

- somehow each recipe step needs to embed the information on whether this step should happen or be skipped. maybe we do this with a function that receives the task params and returns true or false. in the above example this is called `condition`.
- at the beginning, create the task plan for the overall order
  - we also need to create the task plans along a tre

[2017-11-01 22:26] danalexilewis commented on #157
Hmm the only other thing I can stretch to think of would be task pools and the ability to put a task back into a pool and take one out.

This is mainly a thing we will need for packing when there are a lot of tasks and potentially moving them around fast.

However it does enable more then one person to share tasks. Eg 2 admins - one has some order admin task and decides they can’t do it - they can

[2017-11-01 22:52] ahdinosaur commented on #157
yeah, this could be handled by assigning a task to a role (all agents with a specific relationship type with a specific agent): assigning to all admins. or by assigning to a temporary group: the packers of october 2017.

[2017-11-02 02:54] ahdinosaur commented on #207
hey @iainkirkpatrick @sarah-arrrgh, what's the status on this ticket? seems y'all did a heap of work on this for the demo, but wonder where this leaves the original deliverable described in the ticket for a human-readable script we can use to manually test the app from start to finish, maybe including some good edge cases. already it's been very valuable having this for the demo in surfacing bugs,

[2017-11-02 02:58] ahdinosaur opened #277 "setup dev.cobuy.nz"
would be great to have a staging server where we can test things in a production environment without affecting any of our actual production environments (cobuy.tapin.nz).

involves copying what we did for #185, but this time the code should already work we just need to setup a few new accounts and such (or maybe we just re-use the accounts we already use in development?)

[2017-11-05 09:07] danalexilewis commented on #221
Purely from a ui perspective a progress bar with drop down toggle to expand a list of tasks would be amazing

[2017-11-05 09:22] danalexilewis commented on #270
Oh I like the idea of the floating action button :)

[2017-11-05 09:27] danalexilewis commented on #267
Google docs do it with some simlple text: “All saved”, “saving” and “last saved at...” which I think is in case of network drop outs and shows if there have been changes yet to push.

Icons are great but have to be just right, if there not people are not confident it’s saved - I suspect google docs opted for text so people had certainty.

So maybe we could just put some text somewhere - maybe the

[2017-11-05 23:13] ahdinosaur opened #278 "create walkthrough video"
can continue from #207. we'll need this for an upcoming demo.

[2017-11-05 23:14] ahdinosaur opened #279 "user testing: support first group to buy together"

[2017-11-05 23:21] #247 closed, assigned to nobody

[2017-11-05 23:33] ahdinosaur opened #280 "sprint 11"
- sprint goals
  - get everything wired up so we can start and complete an order #268 #214
  - a script for how to walk through the app #207 #278
- personal goals
  - michael
    - trying to think ahead more, not get blocked, because being blocked can waste a lot of time, pre-emptively think ahead and ask for pro-active feedback
  - iain
    - do everything and nothing

[2017-11-05 23:39] sarah-arrrgh commented on #228
@iainkirkpatrick and @sarah-arrrgh were pairing on this on thursday morning. hit bugs when burnthedb. need to `git stash pop` on sarah's machine

[2017-11-05 23:50] ahdinosaur commented on #280
1 point ~= 0.5 days of work

TODO

- estimate expected points, add to ticket's title
- report actual points, add to waffle

[2017-11-06 00:01] iainkirkpatrick commented on #221
This can be the simple changes for now, break the other discussion points out into other tickets

[2017-11-06 00:01] ahdinosaur commented on #77
started https://github.com/root-systems/handbook/pull/105

[2017-11-06 00:02] ahdinosaur commented on #221
future dashboard changes can be discussed in #158

[2017-11-06 00:02] ahdinosaur commented on #158
this may be a duplicate of #270

[2017-11-06 21:46] iainkirkpatrick commented on #237
branch `fix/product-list-styling`, but this has gone down a path of combining the product + priceSpecs components into a single form... may not be the best / simplest idea.

[2017-11-07 04:46] iainkirkpatrick opened #281 "bug: configuring order doesn't show available groups, suppliers, admins unless refreshed"
as per title - to show the seeded data, for instance, requires a refresh

[2017-11-07 09:07] ahdinosaur commented on #21
coming back from https://github.com/root-systems/cobuy/pull/268, sorry i didn't notice @NotThatSmith that you named "order open" what i call the "intent phase" (or stage). let's say you wanted to close an order full-stop, maybe the supplier went bush and will be unable to fulfill any commitments. what do you call that? i'm not saying "intent phase" is the best name, but i think "order open" is amb

[2017-11-07 10:41] michael-smith-nz commented on #21
My above comment was wording the user would use, not programmers(that's the disconnect I've been finding at the moment).

I think we'll need real users to choose the wording for us, at this stage we're making assumptions.
I'm assuming users will get confused with the 'intent' wording because I personally got confused with it.
I'm also assuming that 'order open' means "I'm open to making an order n

[2017-11-08 02:23] Julietbc commented on #278
@agentlewis can you confirm when specifically you need this by?

[2017-11-09 04:20] sarah-arrrgh commented on #207
TODO: put in the wiki, how we would manually run a test, so when we have a new release, we can run through the script and make sure everything works.

how do i start from scratch
burnthedb
.
.
create an account etc
logout
login
.
.

[2017-11-09 11:42] michael-smith-nz commented on #228
Hey @iainkirkpatrick  @sarah-arrrgh I just tested this PR and it works!.... but adds another problem.

I pulled master, burned the db and now parent AND child tasks are showing on the dashboard which was very confusing as I was expecting to see only tasks without a parent task.
![screenshot from 2017-11-09 11-33-18](https://user-images.githubusercontent.com/1152577/32603566-15dfc2ca-c542-11e7-8f5a

[2017-11-10 03:47] iainkirkpatrick commented on #278
Just had a chat with @agentlewis on this - key points:

- speed up parts where the user is clicking, setting up order config, anything like that etc... takes too long when presenting
- slow down on the order summary screen, need time to talk about what's happened
- in terms of the ACTION of the video, rather than having multiple windows representing users going into the single product views and or

[2017-11-10 05:05] #228 closed, assigned to michael-smith-nz, iainkirkpatrick, sarah-arrrgh

[2017-11-10 08:38] ahdinosaur commented on #21
yeah. if a word doesn't make sense for users, it probably isn't a good word for the code either.

however i'm noticing a tension that seems related to the two divergent perspectives on "good design".

1. the apple approach: "good design" is intuitive, any user (even a baby) should be able to understand and interact with your design without any upfront training, it hides complexity with ease
2. the

[2017-11-13 04:34] sarah-arrrgh commented on #207
Link to wiki page:
https://github.com/root-systems/cobuy/wiki/Human-readable-script

End of day report:
- have started script (link above)
- blocked by not actually being able to select the group and supplier etc that i created to finish off the order setup task

[2017-11-14 19:35] ahdinosaur commented on #172
i'll start working on the `dogstack-agents` part of this ticket.

[2017-11-14 23:51] ahdinosaur commented on #281
hey @iainkirkpatrick, do you estimate this as easy, medium, or hard? if not easy, i think we should punt and focus on #270 instead. what do you think?

[2017-11-14 23:52] ahdinosaur commented on #266
will do this as part of https://github.com/root-systems/cobuy/issues/172#issuecomment-344372275

[2017-11-15 01:21] iainkirkpatrick commented on #281
@ahdinosaur my sense is this will probably be easy - just a missing query somewhere (by missing i mean a query that is triggered on app refresh, but not by following the order setup through) - but I think #270 is legit and keen to see that happen, so if you want to jam on that I reckon go for it and we'll park this. If you aren't doing that yourself, if I was doing this I'd try and get this one do

[2017-11-15 02:30] sarah-arrrgh commented on #207
Bugs:

- [ ] adding members to a group you're setting up - some aren't saved... very glitchy. profiles aren't saved to db / names disappear once invited,
- [ ] on start order during pre-reqs phase - one or all of the groups/suppliers/admins i just set up wont appear in the drop down menu (usually blank)

[2017-11-15 03:30] sarah-arrrgh commented on #207
clearing browser cache + burning them ALL + burnthedb fixes above bugs

[2017-11-15 03:36] sarah-arrrgh commented on #207
Bugzzz:

- [ ] Can't log in/sign up as a member already added to a group and place an order on an order that's already been set up.

- [ ] And can't add a member to a new group if they already have an account from the db seed file

Seems like after burningthemall and clearing cache, the app will work long enough to set up a new group, supplier and order, but then when i log out and try to log in a

[2017-11-15 08:58] danalexilewis commented on #66
This looks pretty legit: https://github.com/davidtheclark/react-aria-modal/blob/master/README.md

[2017-11-15 09:09] danalexilewis commented on #207
@sarah-arrrgh I think we should break these bugs out into seperate tickets - otherwise it appears like you are working on all of them.

I would also suggest writing each bug as a series of steps to replicate it. Gherkin works really good for this:

 - Given I am a user who has been added to an order
 - And I have logged in
 - And I am looking at the order task
 - And I have selected a product
 - A

[2017-11-16 03:38] sarah-arrrgh commented on #207
I did it! The thing is did!

https://github.com/root-systems/cobuy/wiki/Human-readable-script

[2017-11-18 06:08] iainkirkpatrick opened #285 "task to 'add items to order' doesn't show for group members"
it does appear for the order admin, but not for other members of the group

[2017-11-18 07:48] danalexilewis opened #286 "Group Order Summary should show group totals"
Bottom table showing:

 - product name
 - total number of items
 - product price
 - total product value

 - total group order value

[2017-11-18 11:01] danalexilewis commented on #286
I just realised this is in a seperate view a never mind. Sorry for the confusion

[2017-11-18 11:01] #286 closed, assigned to nobody

[2017-11-19 23:04] iainkirkpatrick opened #289 "switch local dev to use postgres rather than sqlite"
using sqlite for local dev has been easy, but now we have production / staging deployments which use postgres, we are encountering some bugs / crashes when deploying due to the differences between sqlite and postgres.

this ticket is to change connection config to postgres, along with a guide to getting cobuy running locally on MacOS / Linux.

[2017-11-19 23:14] iainkirkpatrick commented on #172
@ahdinosaur - for the non-`dogstack-agents` services here, my guess is this is just having appropriate hooks on the various services to prevent finds / gets / updates / patches / removes from agents who shouldn't be able to?

in which case, my first plan at it would be:
- orders:
  - only order admin may update, patch, or remove
  - only group members may find, get
- products:
  - only related gro

[2017-11-19 23:29] iainkirkpatrick opened #290 "bug: don't need to set up group / supplier if already part of one"
currently, if the logged in user is already part of a group and the group has a supplier, when starting an order the user is still prompted to create a group / supplier as part of the pre-reqs.

These prompts should be removed if the user is already part of at least 1 group, and / or if that group already has at least 1 supplier.

[2017-11-20 00:03] ahdinosaur commented on #207
looks good to me!

[2017-11-20 00:03] #207 closed, assigned to sarah-arrrgh

[2017-11-20 01:16] ahdinosaur commented on #289
nice! can we re-use https://dogstack.js.org/guides/how-to-setup-sql-db.html? i did that a while ago, maybe useful idk.

[2017-11-20 01:20] ahdinosaur commented on #172
yep!

this _might_ be a good time to split up the services by topic:

- agents
  - profiles
  - credentials
  - relationships
- tasks
  - recipes
  - plans
  - works
- products
  - resourceTypes
  - priceSpecs
  - facets
- orders
  - intents
  - plans
  - accounts (or some other name for accounting data)

your rough outline looks good. 😄

[2017-11-20 01:59] iainkirkpatrick commented on #151
@agentlewis i've got both the orderSummary by agent, and the total orderSummary displaying on the same page now. with reference to the comment above, I read those requirements as:

- each participant in the order should get an invoice, with their products, from them to the supplier
- there should also be a single summary invoice, this is from the group to the supplier

is this for Tapin or Cobuy (

[2017-11-20 04:05] #285 closed, assigned to iainkirkpatrick

[2017-11-20 04:06] #281 closed, assigned to iainkirkpatrick

[2017-11-20 05:05] #210 closed, assigned to michael-smith-nz, iainkirkpatrick

[2017-11-20 05:19] #214 closed, assigned to michael-smith-nz, iainkirkpatrick

[2017-11-20 05:32] iainkirkpatrick commented on #151
branch with combined orderSummaries on one page `feature/total-and-agent-order-summary`

[2017-11-20 05:35] iainkirkpatrick opened #291 "show updating orderIntents of members on product list page"
currently there are real-time updates of other group member's orderIntents on the single product view pages, this ticket is to move / additionally have updates display on the product list page.

[2017-11-20 08:45] danalexilewis commented on #151
@iainkirkpatrick i am finding the use of invoices here a bit confusing. We are not sending invoices to suppliers - but rather orders.

If we don’t provide suppliers with a summary they will need to calculate it themselves to work out what they need to order upstream.

We do need to indicate whether we want the supplier to invoice the individual schools ( in the future or a group).

And we need to

[2017-11-20 08:45] ahdinosaur commented on #291
if this went straight to "in progress", is there a deadline for this ticket? i'm curious our thoughts on how to display compact / dense information about each order intent as part of a list. do we have designs in mind for how we plan to implement this?

[2017-11-20 08:59] iainkirkpatrick commented on #291
good questions @ahdinosaur:
- deadline is to try and get this done for a video for Wednesday this week - ambitious but we shall see.
- dan and I talked briefly about it, i'm thinking about it more now that you've raised it... my thoughts are that currently we display on the single product view something like "Dan is ordering 30" under the relevant price point. In the List view, we could display th

[2017-11-20 09:04] danalexilewis commented on #291
At the moment the need is an overview of activity to show what’s happening. Ie we can show a list view and see quantities and price change as people cast their intent.

Atm In a compact view I think we need a list of:

 - product name
 - total intent quantity
 - item price

Then maybe some sort of colour coding on the price to show a price point has been reached - or maybe we just show a percentag

[2017-11-20 09:05] iainkirkpatrick commented on #151
ok cool @agentlewis  - i can remove the shipping address for now. Does any of this ticket still apply for general Cobuy? i.e. is it worth making a separate ticket for summaries which are useful for Tapin

[2017-11-20 09:08] danalexilewis commented on #151
Sorry yes we will need to also record the transaction so at the end of the month we can invoice the supplier for the fee. - 2%

I don’t think there is a difference to general cobuy. This is a type of order we will generally need. It’s not what food coops will use normally - but it should still be in cobuy. We probably need a ticket to talk about how we initiate different orders and sensible defaul

[2017-11-20 09:16] ahdinosaur commented on #291
nice, i like it! thanks. 😸

having a list with each item as a row seems great. why do we want two different views?

yeah, we're compressing information, so i think it's okay to lose some detail if we can show the main idea.

[2017-11-20 09:23] danalexilewis commented on #291
at least for now for the sake of showing more items in the list view I think we should skip the image. If we have an image in the row it will be equivalent to a double or triple line. Otherwise the image will be to small to view.

The advantage of this is we have more room for text and progress bars to the right - this is what trademe donin mobile list view. However we only get about 6 list items

[2017-11-20 09:23] iainkirkpatrick commented on #291
@ahdinosaur two different views i'm thinking is a bonus feature cause we already have the grid view made 😸  and it shows the images bigger. but yeah low priority

[2017-11-20 09:24] danalexilewis commented on #291
In the long run I think we want an image in there.

We could make the non image view an admin view?

[2017-11-20 09:52] ahdinosaur commented on #291
i think a small thumbnail image is better than no image, but i'm not sure why.

yeah, the "click here" button was one of those proof-of-concept hacks that is still here. agree we should remove the button and just allow the user to click on the conceptual item.

[2017-11-21 03:43] iainkirkpatrick commented on #289
ooooh yeah that looks good @ahdinosaur :) i can fill out the mac user part (tho there isn't much more to it than postgres app)

[2017-11-21 10:56] iainkirkpatrick commented on #291
update: this is working, but there is at least one bug with the algorithm to pick the correct priceSpecs... reared it's head today. will try to fix shortly

[2017-11-23 11:45] michael-smith-nz commented on #290
With this change, we'll need to think about how someone can create a group when one already exists. Where would that function exist? Related to #158

[2017-11-23 15:01] michael-smith-nz commented on #290
Hmmm, a few things unexpected happening here:

- the `hasNotCompletedGroupOrSupplierProfile` function on `orders.js` is using `sourceId` to find admin agents, but should be using `targetId`
- 2 new group agents are being created along with a bunch of relationships, etc. every time the 'Start Order' button is pressed

[2017-11-23 23:09] iainkirkpatrick commented on #290
the 2 group agents being created each time Start Order is clicked is to have a group and a supplier to populate as part of the pre-reqs. IMO this should only happen if the user isn't already part of a group, and if any of their groups don't have a supplier - i.e. only create these agents if the user needs to do that part of the pre-reqs

[2017-11-27 02:04] #280 closed, assigned to nobody

[2017-11-27 10:42] iainkirkpatrick commented on #278
this was done last week. 😅

[2017-11-27 10:42] #278 closed, assigned to Julietbc

[2017-11-27 22:24] michael-smith-nz commented on #157
From slack discussion:

Dan:

[2017-12-01 04:08] ahdinosaur opened #293 "better profiles"
this ticket is to revamp the profile editor and viewer components. what is in scope? (please feel free to edit)

- dynamic structured profile data (schema + document) #152
- update components to match a paper design that has been tested (initial draft below)

![profile-page](https://user-images.githubusercontent.com/719605/33467581-495fdc64-d6ba-11e7-94b5-fe1e30567b4f.png)

[2017-12-01 04:09] ahdinosaur opened #294 "extract navigation to dogstack module"
at the moment there's serious overlap between cobuy and dogstack-example, but this has yet to be extracted into a `dogstack-navigation` module. this ticket is to make this happen.

[2017-12-01 04:11] ahdinosaur commented on #157
some silly drawings from a month ago, now scanned:

---

dashboard:

![orders-page](https://user-images.githubusercontent.com/719605/33467614-9ecba1a6-d6ba-11e7-9f3e-3b6448c3b0d3.png)

---

tasks page:

![tasks-page](https://user-images.githubusercontent.com/719605/33467613-9e67fa3e-d6ba-11e7-9931-f23a4fd4ea6f.png)

[2017-12-01 04:13] ahdinosaur opened #295 "agents directory"
this ticket is to create an agents directory.

what does this mean? ❓ open question yo

here's a rough sketch for a directory that allows users to find groups:

![directory-page](https://user-images.githubusercontent.com/719605/33467657-f4bdbb1c-d6ba-11e7-968c-b0e6cae74faf.png)

[2017-12-03 22:42] ahdinosaur commented on #181
is this something that happens in buying groups? i was under the impression that orders are always for the entire range of supplier's products. in cases like an order for just olive oil, that's when they are ordering from a supplier who specializes in olive oil, but i might have no idea.

[2017-12-04 02:03] ahdinosaur commented on #157
## paper prototype draft 1!

home page!

![cobuy-home](https://user-images.githubusercontent.com/719605/33533123-e99dff76-d903-11e7-85d8-ccd74117bff2.png)

side navigation when not signed in:

![cobuy-nav-2](https://user-images.githubusercontent.com/719605/33533117-e22e4bba-d903-11e7-90ad-54913121c890.png)

side navigation when signed in:

![cobuy-nav-1](https://user-images.githubusercontent.com/7

[2017-12-04 10:06] michael-smith-nz commented on #157
Nice @ahdinosaur! Loving the use of icons instead of words/names and also love the onboarding of users to the language you're wanting to use through terms they already may be familiar with.

This is pretty close to what we're already creating which is great to see.

What do you think the next steps are? Should we test it on 3-4 people in the office and get some feedback that way? It's not our "end

[2017-12-04 22:09] ahdinosaur opened #296 "sprint 13"
goal is by Christmas, be able to have a group run through an order without hand-holding

- finish intent-to-commitment resolution algorithm
- be able to download pdf to send to supplier
- tidy up ux, more intuitive